<div [ngStyle]="{'display': question.type === 'Question Section' ? 'block' : 'inline-block', 'margin-right': question.type !== 'Question Section' ? '20px' : '0'}">
  <div class="question" [style.marginLeft.px]="question.type === 'Question Section' ? 20 : 0" [style.display]="question.type === 'Question Section' ? 'block' : 'inline-flex'">
    <h3 *ngIf="question.type === 'Question Section'" style="font-weight: bold;">{{ question.quest_Title }}</h3>
    <h4 *ngIf="question.type == 'TextBox'" style="margin-left: 50px; font-weight: bold;">{{ question.quest_Title }}</h4>
    <h4 *ngIf="question.type == 'CheckBox'" style="margin-left: 50px; font-weight: bold">{{ question.quest_Title }}</h4>
    <label *ngIf="question.type != 'CheckBox'" style="margin-left: 10px; font-weight:normal "> {{ question.answer }} </label>
    <label *ngIf="question.type == 'CheckBox'" style="margin-left: 10px; font-weight:normal "><b>:</b> {{ question.answer }} </label>
  </div>

  <div
    *ngIf="question.children?.length"
    [style.display]="question.type === 'Question Section' ? 'flex' : 'inline-block'"
    [style.flexWrap]="question.type === 'Question Section' ? 'wrap' : 'nowrap'"
    [style.gap]="question.type === 'Question Section' ? '10px' : '0'">
    <app-question-item
      *ngFor="let child of question.children"
      [question]="child"
      [style.flexBasis]="question.type === 'Question Section' ? 'calc(33.333% - 10px)' : 'auto'"
      [style.maxWidth]="question.type === 'Question Section' ? 'calc(33.333% - 10px)' : 'none'"
    ></app-question-item>
  </div>
</div>
