<form [formGroup]="generalForm" class="row g-2">
  <div class="col-lg-8">
    <div class="row g-2">
      <div class="col-md-4">
        <label class="form-label">Treatment</label>
        <select class="form-select" formControlName="treatment">
          <option value="" selected disabled>Select Treatment</option>
          <option *ngFor="let o of options('Types')" [value]="o.name">{{ o.name }}</option>
        </select>
      </div>
      <div class="col-md-4 d-flex align-items-start justify-content-between">
        <div class="form-check mt-4">
          <input type="checkbox" class="form-check-input" id="onlyInternal" formControlName="onlyInternalCycle">
          <label for="onlyInternal" class="form-check-label">Only internal cycle</label>
        </div>
      </div>

      <div class="col-md-4">
        <label class="form-label">Date of LMP</label>
        <input type="date" class="form-control" formControlName="dateOfLMP" />
      </div>

      <!-- Treatment Sub Types Start  -->
      <div class="card mt-2">
        <div class="card-body py-2">
          <div class="row g-1">
            <div class="col-4" *ngFor="let f of treatmentFlags(); trackBy: trackFlag">
              <div class="form-check">
                <input class="form-check-input" type="checkbox" [id]="f.control"
                       [checked]="generalForm.get(f.control)!.value === true"
                       (change)="generalForm.get(f.control)!.setValue($any($event.target).checked === true)"
                >
                <label class="form-check-label" [for]="f.control">{{ f.name }}</label>
              </div>
            </div>
          </div>
        </div>
      </div>
      <!-- Treatment Sub Types End -->

      <div class="col-md-4">
        <label class="form-label">Cycle from amenorrhea</label>
        <select class="form-select" formControlName="cycleFromAmenorrhea">
          <option value="" selected disabled>Select cycle from amenorrhea</option>
          <option *ngFor="let o of options('FromAmenorrhea')" [value]="o.name">{{ o.name }}</option>
        </select>
      </div>

      <div class="col-md-4">
        <label class="form-label">Main indication</label>
        <select class="form-select" formControlName="mainIndication">
          <option value="" selected disabled>Select main indication</option>
          <option *ngFor="let o of options('MainIndication')" [value]="o.name">{{ o.name }}</option>
        </select>
      </div>

      <div class="col-md-4">
        <label class="form-label">Protocol</label>
        <select class="form-select" formControlName="protocol">
          <option value="" selected disabled>Select protocol</option>
          <option *ngFor="let o of options('Protocol')" [value]="o.name">{{ o.name }}</option>
        </select>
      </div>

      <div class="col-md-4">
        <label class="form-label">Stimulation planned</label>
        <select class="form-select" formControlName="stimulationPlanned">
          <option value="" selected disabled>Select stimulation planned</option>
          <option *ngFor="let o of options('StimulationPlanned')" [value]="o.name">{{ o.name }}</option>
        </select>
      </div>
      <div class="col-md-4">
        <label class="form-label">Stimulated externally</label>
        <select class="form-select" formControlName="stimulatedExternally">
          <option value="" selected disabled>Select stimulated externally</option>
          <option *ngFor="let o of options('StimulatedExternally')" [value]="o.name">{{ o.name }}</option>
        </select>
      </div>

      <div class="col-md-4">
        <label class="form-label">Long-term medication</label>
        <input class="form-control" formControlName="longTermMedication" placeholder="Enter long-term medication" />
      </div>
      <div class="col-md-4">
        <label class="form-label">Planned no. of embryos</label>
        <input type="number" class="form-control" formControlName="plannedNoOfEmbryos" placeholder="Enter planned no. of embryos" />
      </div>

      <div class="col-md-4">
        <label class="form-label">Planned sperm collection</label>
        <div ngbDropdown class="d-inline-block w-100">
          <button class="select-like" [title]="selectedTitle('plannedSpermCollection')" [ngClass]="{'placeholder': !(generalForm.value.plannedSpermCollection?.length)}" ngbDropdownToggle>
            {{ (generalForm.value.plannedSpermCollection?.length || 0) > 0 ? selectedSummary('plannedSpermCollection', 1) : 'Select planned sperm collection' }}
          </button>
          <div ngbDropdownMenu class="multi-menu p-2">
            <div class="form-check" *ngFor="let o of options('PlannedSpermCollection')">
              <input class="form-check-input" type="checkbox" [checked]="isChecked('plannedSpermCollection', o.name)" (change)="toggleSelection('plannedSpermCollection', o.name)" id="psc_{{o.valueId}}">
              <label class="form-check-label" [for]="'psc_'+o.valueId">{{ o.name }}</label>
            </div>
          </div>
        </div>
      </div>

      <div class="col-md-4">
        <label class="form-label">Attending clinician</label>
        <select class="form-select" formControlName="attendingClinician">
          <option value="" selected disabled>Select Attending clinician</option>
          <option *ngFor="let p of hrEmployees" [value]="p.providerId">{{ p.name }}</option>
        </select>
      </div>

      <div class="col-md-4"> 
        <label class="form-label">Survey ID</label>
        <input class="form-control" formControlName="surveyId" placeholder="Enter survey ID" />
      </div>
      <div class="col-md-4">
        <label class="form-label">Randomization group</label>
        <input class="form-control" formControlName="randomizationGroup" placeholder="Enter randomization group" />
      </div>

      <div class="col-md-4">
        <label class="form-label">Taken over from</label>
        <input class="form-control" formControlName="takenOverFrom" placeholder="Enter taken over from"/>
      </div>

  
    </div>
  </div>

  <div class="col-lg-4">
    <div class="row g-2">
      <div class="col-12">
        <label class="form-label">Female medical history of</label>
        <div ngbDropdown class="d-inline-block w-100">
          <button class="select-like" ngbDropdownToggle>
            {{ getSelectedFemaleLabel() }}
          </button>
          <div ngbDropdownMenu class="multi-menu p-2">
            <div class="dropdown-item py-2" *ngFor="let fh of femaleHistoryOptions" (click)="selectFemaleHistory(fh)">
              <div [innerHTML]="formatHistoryHtml(fh)"></div>
            </div>
          </div>
        </div>
        <textarea rows="4" class="form-control mt-2" formControlName="femaleHistory"></textarea>
      </div>
      <div class="col-12">
        <label class="form-label">Male medical history of</label>
        <div ngbDropdown class="d-inline-block w-100">
          <button class="select-like" ngbDropdownToggle>
            {{ getSelectedMaleLabel() }}
          </button>
          <div ngbDropdownMenu class="multi-menu p-2">
            <div class="dropdown-item py-2" *ngFor="let mh of maleHistoryOptions" (click)="selectMaleHistory(mh)">
              <div [innerHTML]="formatHistoryHtml(mh)"></div>
            </div>
          </div>
        </div>
        <textarea rows="7" class="form-control mt-2" formControlName="maleHistory"></textarea>
      </div>
    </div>
        <div class="col-md-12 mt-2">
        <label class="form-label">Taken over on</label>
        <input type="date" class="form-control" formControlName="takenOverOn" />
      </div>
  </div>

  <!-- <div class="col-12">
    <label class="form-label">Cycle note</label>
    <textarea rows="3" class="form-control" formControlName="cycleNote"></textarea>
  </div> -->


    <div class="card px-3 py-2">
    <label class="fw-bold mb-2">Cycle note</label>
    <quill-editor
      formControlName="editorContent"
      [modules]="quillModules"
      format="html"
      placeholder="Enter medical opinion or notes..."
      [styles]="{height: '100px'}">
    </quill-editor>
  </div>


</form>