################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Coh_New/config/applicationhost.config
/.vs/Coh_New/v17/.wsuo
/.vs/slnx.sqlite
/.vs/VSWorkspaceState.json
/Web/.vs/slnx.sqlite
/Web/.vs/Web/FileContentIndex/6fc38803-4e1c-48a2-9602-82e1a4a0b0a6.vsidx
/.vs/Coh_New/v17/DocumentLayout.json
/.vs/ProjectSettings.json
/.vs/Coh_New/v17/workspaceFileList.bin
