.general-form {
  margin-top: 0;
  padding-top: 0;

  .form-group {
    label {
      font-weight: 500;
      color: #495057;
      margin-bottom: 5px;
      font-size: 12px;
    }

    .form-control, .form-select {
      font-size: 12px;
    }
  }

  .form-check-label {
    font-size: 12px;
    color: #495057;
  }

  .card {
    border: 1px solid #dee2e6;
    border-radius: 4px;
    background-color: #fff;
  }

  h6 {
    font-size: 13px;
    color: #333;
    font-weight: 600;
  }

  .small {
    font-size: 11px;
  }
}
