<nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-light bg-opacity-50 p-2 mb-3">
        <li class="breadcrumb-item">
            <a href="javascript:void(0);">
                <ng-icon name="tablerSmartHome"></ng-icon>
                Clinical
            </a>
        </li>
        <li
            class="d-flex align-items-center text-muted mx-1"
            aria-current="page"
        >
            <ng-icon name="tablerChevronRight"></ng-icon>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            Demographics List
        </li>
    </ol>
</nav>

<div class="container-fluid w-100">
    <div class="card p-3 shadow mt-2">
        <!-- Header section -->
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h3 class="m-0 fw-bold">Demographics List</h3>
            <button
                class="btn btn-success btn-sm w-150"
                type="button"
                (click)="router.navigate(['/registration/demographic-create'])"
            >
                <i class="pi pi-user-plus"></i> New Patient
            </button>
        </div>

        <!-- Table -->
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr class="text-center">
                        <th>Mr No</th>
                        <th>Name</th>
                        <th>Email</th>
                        <th>Phone</th>
                        <th>Sex</th>
                        <th>SSN</th>
                        <th>Zip</th>
                        <th>DOB</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let patient of Patient">
                        <td>{{ patient.mrNo }}</td>
                        <td>{{ patient.personFirstName }}</td>
                        <td>{{ patient.personEmail }}</td>
                        <td>{{ patient.personCellPhone }}</td>
                        <td>{{ patient.personSex }}</td>
                        <td>{{ patient.personSocialSecurityNo }}</td>
                        <td>{{ patient.personZipCode }}</td>
                        <td>
                            {{ patient.patientBirthDate | date : "MM/dd/yyyy" }}
                        </td>

                        <td class="text-center">
                            <button
                                class="btn btn-sm btn-primary me-1"
                                (click)="editPatient(patient)"
                            >
                                Edit
                            </button>
                        </td>
                    </tr>
                    <tr *ngIf="Patient.length === 0">
                        <td colspan="9" class="text-center">
                            No patient found.
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>
