<div class="tab-content rounded p-1" id="v-pills-tabContent">
  <div class="tab-pane fade" id="v-summary-sheet" role="tabpanel" aria-labelledby="v-pills-home-tab" [class.active]="selected==='summary'" [class.show]="selected==='summary'">

    <div class="row g-3">

      <!-- <div class="col-md-12">
        <app-vital-signs></app-vital-signs>
      </div> -->




      <div class="col-md-6">
        <div class="card shadow-sm">
          <div class="card-header">{{'ENCOUNTERS' | translate}}</div>
          <div class="card-body p-0">
           <table class="table table-bordered text-center table-striped table-sm">
              <thead>
                <tr>
                  <th>{{ 'DATE' | translate }}</th>
                  <th>{{ 'VISIT_PURPOSE' | translate }}</th>
                  <th>{{ 'PROVIDER' | translate }}</th>
                </tr>
              </thead>
              <tbody class="table-group-divider text-center">
                <tr *ngFor="let e of Encounters">
                  <td>{{ e.appDateTime | date : "dd/MM/yyyy h:mm a" }}</td>
                  <td>{{ e.purposeOfVisit }}</td>
                  <td>{{ getProviderName(e.providerId) }}</td>
                </tr>
                <tr *ngIf="Encounters.length === 0">
                  <td colspan="8">{{ 'NO_DATA_FOUND' | translate }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card shadow-sm">
          <div class="card-header">{{'ALERTS' | translate}}</div>
          <div class="card-body p-0">
           <table class="table table-bordered text-center table-striped table-sm">
              <thead>
                <tr>
                  <th>{{ 'REPEAT_DATE' | translate }}</th>
                  <th>{{ 'ALERT_TYPE' | translate }}</th>
                  <th>{{ 'ALERT_MESSAGE' | translate }}</th>
                </tr>
              </thead>
              <tbody class="table-group-divider text-center">
                <tr *ngFor="let e of alerts">
                  <td>{{ e.repeatDate | date : "dd/MM/yyyy h:mm a" }}</td>
                  <td>{{ e.alertType }}</td>
                  <td>{{ e.alertMessage }}</td>
                </tr>
                <tr *ngIf="alerts.length === 0">
                  <td colspan="8">{{ 'NO_DATA_FOUND' | translate }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>
    </div>

    <div class="row g-3">
      <div class="col-md-6">
        <div class="card shadow-sm">
          <div class="card-header">{{'MEDICATIONS' | translate}}</div>
          <div class="card-body p-0">
             <table class="table table-bordered text-center table-striped table-sm">
              <thead>
                <tr>
                  <th>{{ 'RX' | translate }}</th>
                  <th>{{ 'PROVIDER' | translate }}</th>
                  <th>{{ 'RX_START_DATE' | translate }}</th>
                  <th>{{ 'STATUS' | translate }}</th>
                </tr>
              </thead>
              <tbody class="table-group-divider text-center">
                <tr *ngFor="let e of medications">
                  <td>{{ e.code }}</td>
                  <td>{{ e.providerId }}</td>
                  <td>{{ e.rxStartDate | date : "dd/MM/yyyy h:mm a" }}</td>
                  <td>{{ e.status }}</td>
                </tr>
                <tr *ngIf="medications.length === 0">
                  <td colspan="8">{{ 'NO_DATA_FOUND' | translate }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

      <div class="col-md-6">
        <div class="card shadow-sm">
          <div class="card-header">{{'ALLERGIES' | translate}}</div>
          <div class="card-body p-0">
             <table class="table table-bordered text-center table-striped table-sm">
              <thead>
                <tr>
                  <th>{{ 'TYPE' | translate }}</th>
                  <th>{{ 'ALLERGEN' | translate }}</th>
                  <th>{{ 'PROVIDER' | translate }}</th>
                  <th>{{ 'START_DATE' | translate }}</th>
                  <th>{{ 'STATUS' | translate }}</th>
                </tr>
              </thead>
              <tbody class="table-group-divider text-center">
                <tr *ngFor="let e of allergies">
                  <td>{{ e.type }}</td>
                  <td>{{ e.allergen }}</td>
                  <td>{{ e.providerId }}</td>
                  <td>{{ e.rxStartDate | date : "dd/MM/yyyy h:mm a" }}</td>
                  <td>{{ e.status }}</td>
                </tr>
                <tr *ngIf="allergies.length === 0">
                  <td colspan="8">{{ 'NO_DATA_FOUND' | translate }}</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div>

       <div class="col-md-6">
        <div class="card shadow-sm">
          <div class="card-header">{{'MEDICAL_HISTORY' | translate}}</div>
          <div class="card-body p-0">
             <table class="table table-bordered text-center table-striped table-sm">
              <thead>
                <tr>
                  <th>{{ 'PROBLEM' | translate }}</th>
                  <th>{{ 'PROVIDER' | translate }}</th>
                  <th>{{ 'START_DATE' | translate }}</th>
                  <th>{{ 'STATUS' | translate }}</th>
                </tr>
              </thead>
              <tbody class="table-group-divider text-center">
                <tr *ngFor="let e of medicalHistory">
                  <td>{{ e.icD9Description }}</td>
                  <td>{{ e.provider }}</td>
                  <td>{{ e.startDate | date : "dd/MM/yyyy h:mm a" }}</td>
                  <td>{{ e.status }}</td>
                </tr>
                <tr *ngIf="medicalHistory.length === 0">
                  <td colspan="8">{{ 'NO_DATA_FOUND' | translate }}</td>
                </tr>
              </tbody>
            </table>
            <app-generic-pagination
              [totalItems]="MHtotalRecord"
              [pageSize]="MHPaginationInfo.RowsPerPage"
              [currentPage]="MHPaginationInfo.Page"
              (pageChanged)="onMHPageChanged($event)"
            >
            </app-generic-pagination>
          </div>
        </div>
      </div>

       <div class="col-md-6">
        <div class="card shadow-sm">
          <div class="card-header">{{'PROBLEM_LIST' | translate}}</div>
          <div class="card-body p-0">
             <table class="table table-bordered text-center table-striped table-sm">
              <thead>
                <tr>
                  <th>{{ 'PROBLEM' | translate }}</th>
                  <th>{{ 'PROVIDER' | translate }}</th>
                  <th>{{ 'START_DATE' | translate }}</th>
                  <th>{{ 'STATUS' | translate }}</th>
                </tr>
              </thead>
              <tbody class="table-group-divider text-center">
                <tr *ngFor="let e of problemList">
                  <td>{{ e.problem }}</td>
                  <td>{{ e.providerId }}</td>
                  <td>{{ e.startDate | date : "dd/MM/yyyy h:mm a" }}</td>
                  <td>{{ e.status }}</td>
                </tr>
                <tr *ngIf="problemList.length === 0">
                  <td colspan="8">{{ 'NO_DATA_FOUND' | translate }}</td>
                </tr>
              </tbody>
            </table>
                   <app-generic-pagination
              [totalItems]="PLtotalRecord"
              [pageSize]="PLPaginationInfo.RowsPerPage"
              [currentPage]="PLPaginationInfo.Page"
              (pageChanged)="onPLPageChanged($event)"
            >
            </app-generic-pagination>
          </div>
        </div>
      </div>

      <!-- <div class="col-md-4">
        <div class="card shadow-sm">
          <div class="card-header">Lab Results</div>
          <div class="card-body p-0">
            <table class="table table-sm table-bordered mb-0">
              <thead>
                <tr>
                  <th>Test</th>
                  <th>Result</th>
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>HbA1c</td>
                  <td>6.5%</td>
                </tr>
                <tr>
                  <td>Cholesterol</td>
                  <td>180 mg/dL</td>
                </tr>
              </tbody>
            </table>
          </div>
        </div>
      </div> -->
    </div>

  </div>

  <div class="tab-pane fade" id="v-patient-document" role="tabpanel" aria-labelledby="v-pills-profile-tab" [class.active]="selected === 'patient-document'" [class.show]="selected === 'patient-document'">
    
  </div>


  <!-- Problem List -->
  <div class="tab-pane fade" id="v-problem-list" role="tabpanel" aria-labelledby="v-pills-profile-tab" [class.active]="selected === 'problem-list'" [class.show]="selected === 'problem-list'">
    <div class="row g-3">
      <app-problem></app-problem>
    </div>
  </div>

  <!-- Medical History -->
  <div class="tab-pane fade" id="v-medical-history" role="tabpanel" aria-labelledby="v-pills-profile-tab" [class.active]="selected === 'medical-history'" [class.show]="selected === 'medical-history'">
    <div class="row g-3">
      <app-medical-history></app-medical-history>
    </div>
  </div>

  <!-- Allergies -->
  <div class="tab-pane fade" id="v-allergies" role="tabpanel" aria-labelledby="v-pills-profile-tab" [class.active]="selected === 'allergies'" [class.show]="selected === 'allergies'">
    <div class="row g-3">
      <app-allergies></app-allergies>
    </div>
  </div>

  <!-- Vital Sign -->
  <div class="tab-pane fade" id="v-vital-sign" role="tabpanel" aria-labelledby="v-pills-profile-tab" [class.active]="selected === 'vital-sign'" [class.show]="selected === 'vital-sign'">
    <div class="row g-3">
      <app-vital-signs></app-vital-signs>
    </div>
  </div>

  <div class="tab-pane fade" id="v-medications" role="tabpanel" aria-labelledby="v-pills-profile-tab" [class.active]="selected === 'medications'" [class.show]="selected === 'medications'">
    <div class="row g-3">
      <app-medication></app-medication>
    </div>
  </div>

  <div class="tab-pane fade" id="v-immunizations" role="tabpanel" aria-labelledby="v-pills-profile-tab" [class.active]="selected === 'immunizations'" [class.show]="selected === 'immunizations'">
    <div class="row g-3">
      <app-immunizations></app-immunizations>
    </div>
  </div>

  <div class="tab-pane fade" id="v-procedures" role="tabpanel" aria-labelledby="v-pills-profile-tab" [class.active]="selected === 'procedures'" [class.show]="selected === 'procedures'">
    <div class="row g-3">
      <app-procedure></app-procedure>
    </div>
  </div>

</div>