<div class="p-0">
  <ul ngbNav #nav="ngbNav" class="nav nav-tabs small">
    <li [ngbNavItem]="1">
      <button ngbNavLink class="nav-link">Table representation</button>
      <ng-template ngbNavContent>
        <app-table-representation></app-table-representation>
      </ng-template>
    </li>
    <li [ngbNavItem]="2">
      <button ngbNavLink class="nav-link">Graphical representation</button>
      <ng-template ngbNavContent>
        <div class="p-3 text-muted">Graphical representation (coming soon)</div>
      </ng-template>
    </li>
    <li [ngbNavItem]="3">
      <button ngbNavLink class="nav-link">Summed representation</button>
      <ng-template ngbNavContent>
        <div class="p-3 text-muted">Summed representation (coming soon)</div>
      </ng-template>
    </li>
  </ul>
  <div [ngbNavOutlet]="nav" class="mt-2"></div>
</div>
