<div class="container-fluid mt-3">
    <div class="card shadow-lg p-4 rounded">
        <!-- 🔷 Optional Breadcrumb -->
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h4 class="fw-bold mb-0">Add Subscriber</h4>
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb mb-0">
                    <li class="breadcrumb-item active" aria-current="page">
                        Add Coverage
                    </li>
                </ol>
            </nav>
        </div>

        <!-- 📝 Reactive Form Starts -->
        <form [formGroup]="subscriberForm">
            <div class="row">
                <!-- Type -->
                <div class="col-3">
                    <label>Type</label><span class="danger"> *</span>
                    <select
                        class="form-select"
                        formControlName="CompanyOrIndividual"
                        (change)="showRelation()"
                    >
                        <option value="">-- Select Type --</option>
                        <option *ngFor="let t of type" [value]="t.value">
                            {{ t.label }}
                        </option>
                    </select>
                </div>

                <!-- Relationship Dropdown (Show only if isRelation == true) -->
                <div class="col-3">
                    <label>Relation</label><span class="danger"> *</span>
                    <select
                        class="form-select"
                        formControlName="InsuranceRel"
                        id="InsuranceRel"
                        [disabled]="!isRelation"
                    >
                        <option value="">-- Select Relation --</option>
                        <option
                            *ngFor="let t of InsuranceRelation"
                            [value]="t.id"
                        >
                            {{ t.name }}
                        </option>
                    </select>
                </div>

                <!-- Title -->
                <div class="col-3">
                    <label>Title</label><span class="danger"> *</span>
                    <select class="form-select" formControlName="Suffix">
                        <option value="">-- Select Title --</option>
                        <option *ngFor="let t of titles" [value]="t.code">
                            {{ t.name }}
                        </option>
                    </select>
                </div>

                <!-- First Name -->
                <div class="col-3">
                    <label>First Name</label><span class="danger"> *</span>
                    <input
                        type="text"
                        class="form-control"
                        formControlName="FirstName"
                        placeholder="First Name"
                    />
                </div>

                <!-- Middle Name -->
                <div class="col-3">
                    <label>Middle Name</label>
                    <input
                        type="text"
                        class="form-control"
                        formControlName="MiddleName"
                        placeholder="Middle Name"
                    />
                </div>

                <!-- Last Name -->
                <div class="col-3">
                    <label>Last Name</label><span class="danger"> *</span>
                    <input
                        type="text"
                        class="form-control"
                        formControlName="LastName"
                        placeholder="Last Name"
                    />
                </div>

                <!-- Phone -->
                <div class="col-3">
                    <label>Cell Phone</label><span class="danger"> *</span>
                    <input
                        type="text"
                        class="form-control"
                        formControlName="InsuredPhone"
                        placeholder="03XXXXXXXXXX"
                    />
                </div>

                <div class="col-3">
                    <label>Date of Birth</label><span class="danger"> *</span>
                    <input
                        type="text"
                        class="form-control date"
                        formControlName="BirthDate"
                        data-provider="flatpickr"
                        id="BirthDate"
                        placeholder="Select date"
                    />
                </div>

                <!-- Address -->
                <div class="col-3">
                    <label>Address</label><span class="danger"> *</span>
                    <textarea
                        class="form-control"
                        formControlName="Address1"
                        placeholder="Address"
                    ></textarea>
                </div>

                <!-- Country -->
                <div class="col-3">
                    <label>Country</label><span class="danger"> *</span>
                    <select
                        class="form-select"
                        formControlName="CountryId"
                        (change)="onCountryChange()"
                    >
                        <option value="">-- Select Country --</option>
                        <option *ngFor="let c of Country" [value]="c.code">
                            {{ c.name }}
                        </option>
                    </select>
                </div>

                <!-- State -->
                <div class="col-3">
                    <label>State</label><span class="danger"> *</span>
                    <select
                        class="form-select"
                        formControlName="StateId"
                        (change)="onStateChange()"
                    >
                        <option value="">-- Select State --</option>
                        <option *ngFor="let s of states" [value]="s.stateId">
                            {{ s.name }}
                        </option>
                    </select>
                </div>

                <!-- City -->
                <div class="col-3">
                    <label>City</label><span class="danger"> *</span>
                    <select class="form-select" formControlName="CityId">
                        <option value="">-- Select City --</option>
                        <option *ngFor="let c of city" [value]="c.cityId">
                            {{ c.name }}
                        </option>
                    </select>
                </div>

                <!-- Zip -->
                <div class="col-3">
                    <label>Zip Code</label><span class="danger"> *</span>
                    <input
                        type="text"
                        class="form-control"
                        formControlName="ZipCode"
                    />
                </div>

                <!-- Insurance Carrier -->
                <div class="col-3">
                    <label>Insurance Carrier</label
                    ><span class="danger"> *</span>
                    <select
                        class="form-select"
                        formControlName="CarrierId"
                        (change)="onCarrierChange()"
                    >
                        <option *ngFor="let p of BLPayer" [value]="p.code">
                            {{ p.name }}
                        </option>
                    </select>
                </div>

                <!-- Policy Plan -->
                <div class="col-3">
                    <label>Policy Plan</label><span class="danger"> *</span>
                    <select
                        class="form-select"
                        formControlName="selectedBLPayerPlan"
                    >
                        <option
                            *ngFor="let plan of BLPayerPlan"
                            [value]="plan.code"
                        >
                            {{ plan.name }}
                        </option>
                    </select>
                </div>

                <!-- Package -->
                <div class="col-3">
                    <label>Package</label><span class="danger"> *</span>
                    <select
                        class="form-select"
                        formControlName="selectedBLPayerPackage"
                    >
                        <option
                            *ngFor="let pack of BLPayerPackage"
                            [value]="pack.code"
                        >
                            {{ pack.name }}
                        </option>
                    </select>
                </div>

                <!-- Gender -->
                <div class="col-3">
                    <label>Gender</label><span class="danger"> *</span>
                    <select class="form-select" formControlName="Sex">
                        <option *ngFor="let g of genders" [value]="g.code">
                            {{ g.name }}
                        </option>
                    </select>
                </div>

                <!-- Insured ID -->
                <div class="col-3">
                    <label>Member Id / Emp Id</label
                    ><span class="danger"> *</span>
                    <input
                        type="text"
                        class="form-control"
                        formControlName="InsuredIdNo"
                        placeholder="Member Id / Emp Id"
                    />
                </div>

                <!-- Active -->
                <div class="col-3 d-flex align-items-center mt-4">
                    <input
                        type="checkbox"
                        class="form-check-input"
                        formControlName="Inactive"
                    />
                    <label class="form-check-label ms-2">Active</label>
                </div>
            </div>
            <div class="row">
                <div class="col-md-6">
                    <div class="card mt-4">
                        <b>
                            <a
                                class="nav-item nav-link active mt-2"
                                style="color: rgb(8, 8, 167); margin-left: 20px"
                            >
                                Copay Flat Rate (%)
                            </a>
                        </b>
                        <div class="row mt-2 mb-2 mx-2">
                            <div class="col-6">
                                <input
                                    type="number"
                                    class="form-control w-100"
                                    placeholder="OP"
                                    formControlName="OpCopay"
                                />
                            </div>
                            <div class="col-6">
                                <input
                                    type="number"
                                    class="form-control w-100"
                                    placeholder="IP"
                                    formControlName="Deductibles"
                                />
                            </div>
                        </div>
                    </div>
                </div>

                <div class="col-md-6">
                    <div class="card mt-4">
                        <b>
                            <a
                                class="nav-item nav-link active mt-2"
                                style="color: rgb(8, 8, 167); margin-left: 20px"
                            >
                                Deductable (Amount)
                            </a>
                        </b>
                        <div class="row mt-2 mb-2 mx-2">
                            <div class="col-6">
                                <input
                                    type="number"
                                    class="form-control w-100"
                                    placeholder="PC"
                                    formControlName="Copay"
                                />
                            </div>
                            <div class="col-6">
                                <input
                                    type="number"
                                    class="form-control w-100"
                                    placeholder="DN"
                                    formControlName="DNDeductible"
                                />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="card-body">
                    <ul
                        ngbNav
                        #nav="ngbNav"
                        [(activeId)]="activeTabId"
                        class="nav nav-tabs mb-3"
                    >
                        <li [ngbNavItem]="1">
                            <a ngbNavLink>Policy Info</a>
                            <ng-template ngbNavContent>
                                <!-- ✅ Add Policy Button -->
                                <button
                                    class="btn btn-sm btn-primary mb-2"
                                    (click)="openPolicyModal(modalLg)"
                                >
                                    + Add Policy
                                </button>

                                <!-- ✅ Table -->
                                <div class="table-responsive">
                                    <table class="table align-middle mb-0">
                                        <thead class="thead-sm">
                                            <tr
                                                class="text-uppercase text-center"
                                            >
                                                <th>Effective Date</th>
                                                <th>Termination Date</th>
                                                <th>Group No</th>
                                                <th>No of Visits</th>
                                                <th>Amount</th>
                                                <th>Status</th>
                                            </tr>
                                        </thead>
                                        <tbody class="text-center">
                                            <tr
                                                *ngFor="
                                                    let policy of patient?.policyList
                                                "
                                            >
                                                <td>
                                                    {{
                                                        policy.effectiveDate
                                                            | date
                                                                : "MM/dd/yyyy"
                                                    }}
                                                </td>
                                                <td>
                                                    {{
                                                        policy.terminationDate
                                                            | date
                                                                : "MM/dd/yyyy"
                                                    }}
                                                </td>
                                                <td>
                                                    {{
                                                        policy.groupNo || "N/A"
                                                    }}
                                                </td>
                                                <td>
                                                    {{
                                                        policy.noOfVisits ||
                                                            "N/A"
                                                    }}
                                                </td>
                                                <td>
                                                    {{
                                                        policy.amount | currency
                                                    }}
                                                </td>
                                                <td>
                                                    {{ policy.status || "N/A" }}
                                                </td>
                                            </tr>
                                            <tr
                                                *ngIf="
                                                    patient?.policyList
                                                        ?.length === 0
                                                "
                                            >
                                                <td colspan="6">
                                                    No policy data available.
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>

                                <!-- ✅ Modal Template -->
                                <ng-template #modalLg let-modal>
                                    <form
                                        [formGroup]="policyForm1"
                                        (ngSubmit)="onSavePolicy(modal)"
                                    >
                                        <div class="modal-header">
                                            <h5 class="modal-title">
                                                Add Policy
                                            </h5>
                                            <button
                                                type="button"
                                                class="btn-close"
                                                aria-label="Close"
                                                (click)="modal.dismiss()"
                                            ></button>
                                        </div>

                                        <div class="modal-body">
                                            <div class="row">
                                                <div class="col-4">
                                                    <label
                                                        >Effective Date</label
                                                    >
                                                    <input
                                                        type="date"
                                                        class="form-control"
                                                        formControlName="effectiveDate"
                                                    />
                                                </div>
                                                <div class="col-4">
                                                    <label
                                                        >Termination Date</label
                                                    >
                                                    <input
                                                        type="date"
                                                        class="form-control"
                                                        formControlName="terminationDate"
                                                    />
                                                </div>
                                                <div class="col-4">
                                                    <label>Group No</label>
                                                    <input
                                                        type="text"
                                                        class="form-control"
                                                        formControlName="groupNo"
                                                    />
                                                </div>
                                            </div>

                                            <div class="row mt-2">
                                                <div class="col-4">
                                                    <label>No of Visits</label>
                                                    <input
                                                        type="number"
                                                        class="form-control"
                                                        formControlName="noOfVisits"
                                                    />
                                                </div>
                                                <div class="col-4">
                                                    <label>Amount</label>
                                                    <input
                                                        type="number"
                                                        class="form-control"
                                                        formControlName="amount"
                                                    />
                                                </div>
                                                <div class="col-4">
                                                    <label>Status</label>
                                                    <input
                                                        type="text"
                                                        class="form-control"
                                                        formControlName="status"
                                                    />
                                                </div>
                                            </div>
                                        </div>

                                        <div class="modal-footer">
                                            <button
                                                class="btn btn-secondary"
                                                type="button"
                                                (click)="modal.dismiss()"
                                            >
                                                Cancel
                                            </button>
                                            <button
                                                class="btn btn-primary"
                                                type="submit"
                                                [disabled]="policyForm1.invalid"
                                            >
                                                Save
                                            </button>
                                        </div>
                                    </form>
                                </ng-template>
                            </ng-template>
                        </li>

                        <!-- 🟠 Tab 2: Copay Info -->
                        <li [ngbNavItem]="2">
                            <a ngbNavLink>Copay Info</a>
                            <ng-template ngbNavContent>
                                <form [formGroup]="copayForm" class="row g-3">
                                    <div class="col-6">
                                        <label>Type of Service</label>
                                        <input
                                            type="number"
                                            class="form-control w-100"
                                            placeholder=""
                                            formControlName="serviceType"
                                        />
                                    </div>
                                    <div class="col-md-6">
                                        <label>Copay (%)</label>
                                        <input
                                            type="number"
                                            class="form-control"
                                            formControlName="copayPercentage"
                                        />
                                    </div>
                                </form>
                            </ng-template>
                        </li>
                    </ul>

                    <div [ngbNavOutlet]="nav"></div>
                </div>
            </div>

            <!-- Buttons -->
            <div class="d-flex justify-content-between mt-4">
                <!-- Left buttons: Save & Cancel -->
                <div>
                    <button
                        type="submit"
                        class="btn btn-success"
                        (click)="insertsubscriber()"
                    >
                        Save
                    </button>
                    <button
                        type="button"
                        class="btn btn-secondary ms-2"
                        (click)="cancel()"
                    >
                        Cancel
                    </button>
                </div>

                <!-- Right button: Add Card -->
                <div>
                    <button
                        type="button"
                        class="btn btn-info"
                        (click)="openLargeModal(modalLg)"
                    >
                        Add Card
                    </button>
                </div>
            </div>
            <ng-template #modalLg let-modal>
                <div class="modal-header">
                    <h4 class="modal-title">Upload Image</h4>
                    <button
                        type="button"
                        class="btn-close"
                        aria-label="Close"
                        (click)="modal.dismiss('Cross click')"
                    ></button>
                </div>

                <div class="modal-body">
                    <div class="d-flex flex-column align-items-start">
                        <label class="form-label mb-2">Select Image</label>

                        <div class="avatar-xxl">
                            <file-pond
                                name="filepond"
                                [options]="userFilePondConfig"
                                className="filepond-input-circle"
                            >
                            </file-pond>
                        </div>

                        <!-- 👇 Left-aligned Read Image Button -->
                        <button
                            pButton
                            type="button"
                            class="btn btn-primary mt-3"
                        >
                            Read Image
                        </button>
                    </div>

                    <!-- Close button aligned to right -->
                    <div
                        class="d-flex justify-content-end align-items-center mt-4"
                    >
                        <button
                            pButton
                            type="button"
                            class="btn btn-primary"
                            (click)="modal.close()"
                        >
                            Close
                        </button>
                    </div>
                </div>
            </ng-template>
        </form>
    </div>
</div>
