.basic-form {
  margin-top: 0;
  padding-top: 0;

  .form-group {
    label {
      font-weight: 500;
      color: #495057;
      margin-bottom: 5px;
      font-size: 12px;
    }

    .form-control, .form-select {
      font-size: 12px;
    }
  }

  .input-group-text {
    background-color: #f8f9fa;
    border-color: #ced4da;
    font-size: 12px;
  }
}
