<div class="col-md-12" *ngIf="question.type === 'Question Section'">
  <h4 class="font-bold">{{ question.quest_Title }}</h4>
  <div class="row" *ngIf="question.children?.length">
    <ng-container *ngFor="let child of question.children">
      <app-question-view
        [question]="child"
        [form]="form">
      </app-question-view>
    </ng-container>
  </div>
</div>

<div class="row" *ngIf="question.type !== 'Question Section' && question.children?.length">
  <ng-container *ngFor="let child of question.children">
    <app-question-view
      [question]="child"
      [form]="form">
    </app-question-view>
  </ng-container>
</div>

<div class="col-md-3" *ngIf="question.type === 'CheckBox'">
  <div class="checkbox">
    <label>
      <input
        type="checkbox"
        [checked]="isChecked(question.answer)"
        (change)="onCheckboxChange($event, question)"
      />
      {{ question.quest_Title }}
    </label>
  </div>
</div>

<div class="col-md-3" *ngIf="question.type === 'TextBox'">
  <div class="form-group">
    <label class="control-label">{{ question.quest_Title }}</label>
    <input
      type="text"
      [value]="question.answer"
      (input)="onAnswerChange($event, question)"
      class="form-control"
    />
  </div>
</div>

