<div class="question-section" style="margin-left: 20px; margin-top: 10px;">
  <div>
    <h4 *ngIf="question.type === 'Question Section'">{{ question.quest_Title }}</h4>
    <label *ngIf="question.type === 'CheckBox'">
      <input
        type="checkbox"
        [checked]="isChecked(question.answer)"
        (change)="onCheckboxChange($event, question)"
      />
      {{ question.quest_Title }}
    </label>
  </div>

  <div *ngIf="question.type === 'TextBox'">
    <label>{{ question.quest_Title }}</label>
    <input
      type="text"
      [value]="question.answer"
      (input)="onAnswerChange($event, question)"
      class="form-control"
    />
  </div>

  <div *ngFor="let child of question.children">
    <app-question-view [question]="child" [form]="form"></app-question-view>
  </div>
</div>

