<div class="card mt-3">
      <div class="card-header d-flex justify-content-between align-items-center">
      <h5 class="mb-0 fw-bold d-inline-flex align-items-center gap-2">
        <span>{{ 'CLINICAL_NOTES' | translate }}</span>
      </h5>
    <i class="bi bi-heart-pulse fs-4"></i>
    <div>

      <i class="pi pi-sync"
        style="background-color: #3B82F6;color: rgb(228, 228, 230);font-size:1.5rem"></i>
   <button
  type="button"
  class="btn btn-success"
  (click)="buttonRoute('/clinical/create-notes')">
  <ng-icon style="margin-bottom: 1px;" class="me-2 ms-1" name="tablerPlus"></ng-icon>
  {{ 'ADD' | translate }}
</button>

      </div>
    </div>

    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-bordered table-striped table-sm">

          <thead class="align-middle thead-sm">
            <tr>
              <th class="text-center">{{ 'MRNO' | translate }}</th>
              <th class="text-center">{{ 'NOTE_TITLE' | translate }}</th>
              <th class="text-center">{{ 'VISIT_NO' | translate }}</th>
              <th class="text-center">{{ 'VISIT_DATE' | translate }}</th>
              <th class="text-center">{{ 'CREATED_BY' | translate }}</th>
              <th class="text-center">{{ 'VOICE_NOTE' | translate }}</th>

            </tr>
          </thead>
          <tbody class="table-group-divider">
            <tr *ngFor="let data of speechtotxt; let i = index">
              <td class="text-center">{{ data.mrNo || '-' }} </td>
              <td class="text-center">{{ (data.noteTitle || '-').trim() }}</td>
              <td class="text-center">{{ data.visitAccDisplay || '-' }}</td>
              <td class="text-center">{{ data.visitDate || '-' }}</td>
              <td class="text-center">{{ data.createdBy || '-' }}</td>
              <td style="font-size: 12px">
                <audio
                  *ngIf="data.voiceSafeUrl || data.notePath"
                  controls
                  style="width: 200px;"
                  [src]="data.voiceSafeUrl || data.notePath">
                </audio>
              </td>
            </tr>
            <tr *ngIf="clinicalnoteTotalItems === 0">
              <td colspan="9" class="text-center">{{ 'NO_DATA_FOUND' | translate }}</td>
            </tr>
          </tbody>
        </table>
      </div>

      <app-generic-pagination
      [totalItems]="clinicalnoteTotalItems"
      [pageSize]="pagegination.pageSize"
      [currentPage]="pagegination.currentPage"
      (pageChanged)="onallergiePageChanged($event)">
      </app-generic-pagination>
    </div>
  </div>
