<div class="card shadow-sm">
  <div class="card-header p-2">
    <ul ngbNav #nav="ngbNav" [(activeId)]="active" class="nav nav-tabs">
      <li [ngbNavItem]="1">
        <a ngbNavLink>Parameter</a>
        <ng-template ngbNavContent>
          <div class="p-2">
            <ul ngbNav #sub="ngbNav" [(activeId)]="parameterActive" class="nav nav-pills small mb-2">
              <li [ngbNavItem]="1"><a ngbNavLink>Native</a><ng-template ngbNavContent><app-semen-parameter-native></app-semen-parameter-native></ng-template></li>
              <li [ngbNavItem]="2"><a ngbNavLink>After Preparation</a><ng-template ngbNavContent><app-semen-parameter-after-prep></app-semen-parameter-after-prep></ng-template></li>
              <li [ngbNavItem]="3"><a ngbNavLink>Documents</a><ng-template ngbNavContent><app-semen-parameter-documents></app-semen-parameter-documents></ng-template></li>
            </ul>
            <div [ngbNavOutlet]="sub"></div>
          </div>
        </ng-template>
      </li>
      <li [ngbNavItem]="2">
        <a ngbNavLink>Files</a>
        <ng-template ngbNavContent>
          <div class="p-2">
            <app-semen-files></app-semen-files>
          </div>
        </ng-template>
      </li>
    </ul>
  </div>
  <div class="card-body p-0">
    <div [ngbNavOutlet]="nav"></div>
  </div>
</div>
