<div class="collapse navbar-collapse d-flex justify-content-between" id="topnav-menu-content">
    <ul class="navbar-nav">
        <li class="nav-item">
            <a href="javascript:void(0)" class="nav-link" (click)="onDashboardClick()">
                <ng-icon name="tablerUser" class="menu-icon"></ng-icon>
                <span class="menu-text">{{ 'Dashboard' | translate }}</span>
            </a>
        </li>
        <li class="nav-item">
            <a href="javascript:void(0)" class="nav-link" (click)="onPatientSummaryClick()">
                <ng-icon name="tablerUser" class="menu-icon"></ng-icon>
                <span class="menu-text">{{ 'Patient Chart' | translate }}</span>
            </a>
        </li>
        @for (item of menuItems; track $index) {
        @if (!hasSubMenu(item)) {
        <li class="nav-item">
            <ng-container *ngTemplateOutlet="MenuItem; context: { item, linkClass: 'nav-link' }" />
        </li>
        }
        @if (hasSubMenu(item)) {
        <ng-container
            *ngTemplateOutlet="MenuItemWithChildren; context: { item, wrapperClass: 'nav-item', togglerClass: 'nav-link' }" />
        }
        }

    </ul>
</div>




<ng-template #MenuItemWithChildren let-item="item" let-wrapperClass="wrapperClass" let-togglerClass="togglerClass">
    <li ngbDropdown [class]="wrapperClass" class="dropdown" [class.active]="isChildActive(item)">
        <a ngbDropdownToggle [class]="togglerClass" class="dropdown-toggle drop-arrow-none" role="button">
            @if (item.icon) {
            <span>
                <lucide-angular class="menu-icon" [img]="getIcon(item.icon)"></lucide-angular>
            </span>
            }
            <span class="menu-text"> {{ item.label | translate }} </span>
            @if (item.badge) {
            <span [class]="`badge bg-${item.badge.variant}`">{{ item.badge.text }}</span>
            }
            @if (!item.badge) {
            <span class="menu-arrow">
                <lucide-angular [img]="getIcon('tablerChevronDown')"></lucide-angular>
            </span>
            }
        </a>
        <div ngbDropdownMenu class="dropdown-menu">
            @for (child of item.children; track $index) {
            <!-- menu item without any child -->
            @if (!hasSubMenu(child)) {
            <ng-container *ngTemplateOutlet="MenuItem;context:{item:child,linkClass:'dropdown-item'}" />
            }

            <!-- menu item with child -->
            @if (hasSubMenu(child)) {
            <ng-container *ngTemplateOutlet="MenuItemWithChildren;context:{item:child,togglerClass:'dropdown-item'}" />
            }

            }
        </div>
    </li>
</ng-template>

<style>
  /* Direction-aware spacing for navbar icons */
  .menu-icon {
    /* LTR default: space after icon */
    margin-inline-end: .5rem;
    margin-inline-start: 0;
    display: inline-flex;
    align-items: center;
    line-height: 1;
  }
  [dir='rtl'] .menu-icon {
    /* RTL: space before icon */
    margin-inline-start: .5rem;
    margin-inline-end: 0;
  }
  .menu-text { white-space: nowrap; }
  .menu-arrow {
    display: inline-flex;
    align-items: center;
    /* Space between text and chevron in both LTR/RTL */
    margin-inline-start: .25rem;
  }
</style>

<ng-template #MenuItem let-item="item" let-linkClass="linkClass">
    @if (item.url) {
    <a [routerLink]="item.url" [target]="item.target" [class]="linkClass" [class.active]="isActive(item)"
        [class.disabled]="item.isDisabled" [class.special-menu]="item.isSpecial">
        @if (item.icon) {
        <span>
            <lucide-angular class="menu-icon" [img]="getIcon(item.icon)"></lucide-angular>
        </span>
        }
        <span class="menu-text">{{ item.label | translate }}</span>
        @if (item.badge) {
        <span class="badge text-bg-{{item.badge.variant}} opacity-50" [innerHTML]="item.badge.text"></span>
        }
    </a>
    }

</ng-template>