<nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-light bg-opacity-50 p-2">
        <li class="breadcrumb-item">
            <a href="javascript:void(0);">
                <ng-icon name="tablerSmartHome"></ng-icon>
                Scheduling
            </a>
        </li>
        <li
            class="d-flex align-items-center text-muted mx-1"
            aria-current="page"
        >
            <ng-icon name="tablerChevronRight"></ng-icon>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            Create Appointment
        </li>
    </ol>
</nav>
 
<div class="">
    <!-- Book Appointment Form Card -->
    <div class="card shadow-lg mb-2">
        <div class="card-header">
            <h5 class="mb-0">Appointment Booking</h5>
        </div>

        <div class="card-body">
            <form [formGroup]="appointmentForm" (ngSubmit)="onSubmit()">
                <div class="row">
                    <div class="col-sm-3 mb-3">
                        <label>Facility <span class="text-danger">*</span></label>
                        <select
                            class="form-control form-select"
                            formControlName="facility"
                            (change)="GetSpecialitybyFacilityId(this.appointmentForm.get('facility')?.value)">
                            <option value="">Select Facility</option>
                            <option *ngFor="let f of facilities"[value]="f.code">
                                {{ f.name }}
                            </option> 
                        </select>
                    </div>

                    <div class="col-sm-3 mb-3">
                        <label>Speciality <span class="text-danger">*</span></label>
                        <select
                            class="form-control form-select"
                            formControlName="speciality"
                            (change)="GetSitebySpecialityId(this.appointmentForm.get('speciality')?.value)">
                            <option value="">Select Speciality</option>
                            <option *ngFor="let s of specialities" [value]="s.specialtyId">
                                {{ s.specialtyName }}
                            </option>
                        </select>
                    </div>

                    <div class="col-sm-3 mb-3">
                        <label>Provider <span class="text-danger">*</span></label>
                        <select
                        class="form-control form-select"
                        formControlName="provider"
                        (change)="GetSpecialityByEmployeeId(appointmentForm.get('provider')?.value)">
                        <option value="">Select Provider</option>
                        <option *ngFor="let p of providers" [value]="p.employeeId">
                            {{ p.fullName }}
                        </option>
                        </select>

                    </div>

                    <div class="col-sm-3 mb-3">
                        <label>Sites <span class="text-danger">*</span></label>
                        <select
                            class="form-control form-select"
                            formControlName="site"
                            (change)="GetProviderbySiteId(this.appointmentForm.get('site')?.value)"
                        >
                            <option value="">Select Site</option>
                            <option *ngFor="let site of siteArray" [value]="site.siteId">
                                {{ site.siteName }}
                            </option>
                        </select>
                    </div>
                </div>

                <!-- Row 2 -->
                <div class="row">
                    <div class="col-sm-3 mb-3">
                        <label>Date <span class="text-danger">*</span></label>
                        <input
                            type="text"
                            class="form-control date"
                            formControlName="date"
                            data-provider="flatpickr"
                            id="entryDate"
                            placeholder="Select date"
                            (change)="GetAppointmentByTime(this.appointmentForm.get('date')?.value)"
                        />
                    </div>

                    <div class="col-sm-3 mb-3">
                        <label>Time <span class="text-danger">*</span></label>
                        <select
                            class="form-control form-select scrollable-select"
                            formControlName="time"
                            style="max-height: 50px !important;
                            /* Approx 3-4 options height */ 
                            overflow-y: auto !important;"
                            (onClick)="GetTime()">
                            <option value="" disabled selected hidden>
                                Select Time
                            </option>
                            <option *ngFor="let t of Times" [value]="t.Time">
                                {{ t.Time }}
                            </option>
                        </select>
                    </div>

                    <!-- <div class="col-sm-3 mb-3">
                        <label>Time <span class="text-danger">*</span></label>
                        <select
                            class="form-control form-select scrollable-select"
                            formControlName="time"
                        >
                            <option value="" disabled selected hidden>Select Time</option>
                            <option *ngFor="let t of Times" [value]="t.Time">
                                {{ t.Time }}
                            </option>
                        </select>
                    </div> -->

                    <!-- <div class="col-sm-3 mb-3">
                        <label>Time <span class="text-danger">*</span></label>
                        <div class="custom-dropdown-wrapper">
                            <select
                                class="form-control form-select"
                                formControlName="time"
                            >
                                <option class="select-option" value="">Select Time</option>
                                <option
                                    *ngFor="let t of Times"
                                    class="select-option"
                                    [value]="t.Time"
                                    [selected]="
                                        t.Time ===
                                        appointmentForm.get('time')?.value
                                    "
                                >
                                    {{ t.Time }}
                                </option>
                            </select>
                        </div>
                    </div> -->

                    <div class="col-sm-3 mb-3">
                        <label
                            >Purpose of Visit
                            <span class="text-danger">*</span></label
                        >
                        <select
                            class="form-control form-select"
                            formControlName="selectedPurpose"
                        >
                            <option value="">Select Purpose</option>
                            <option *ngFor="let p of purpose" [value]="p.code">
                                {{ p.name }}
                            </option>
                        </select>
                    </div>

                    <div class="col-sm-3 mb-3">
                        <label
                            >Visit Type
                            <span class="text-danger">*</span></label
                        >
                        <select
                            class="form-control form-select"
                            formControlName="selectedVisitType"
                        >
                            <option value="">Select Visit Type</option>
                            <option
                                *ngFor="let v of visittype"
                                [value]="v.code"
                            >
                                {{ v.name }}
                            </option>
                        </select>
                    </div>
                </div>

                <!-- Row 3 -->
                <div class="row">
                    <div class="col-sm-3 mb-3">
                        <label
                            >Referred By 
                            <span class="text-danger">*</span></label
                        >
                        <select
                            class="form-control form-select"
                            formControlName="selectedReferredBy"
                        >
                            <option value="">Referred By</option>
                            <option *ngFor="let r of referred" [value]="r.code">
                                {{ r.name }}
                            </option>
                        </select>
                    </div>

                    <div class="col-sm-3 mb-3">
                        <label>Type <span class="text-danger">*</span></label>
                        <select
                            class="form-control form-select"
                            formControlName="selectedType"
                        >
                            <option value="">Select Type</option>
                            <option *ngFor="let t of type" [value]="t.code">
                                {{ t.name }}
                            </option>
                        </select>
                    </div>

                    <div class="col-sm-3 mb-3">
                        <label
                            >Duration <span class="text-danger">*</span></label
                        >
                        <select
                            class="form-control form-select"
                            formControlName="selectedDuration"
                        >
                            <option value="">Select Duration</option>
                            <option *ngFor="let d of duration" [value]="d.value">
                                {{ d.name }}
                            </option>
                        </select>
                    </div>

                    <div class="col-sm-3 mb-3">
                        <label
                            >Location <span class="text-danger">*</span></label
                        >
                        <select
                            class="form-control form-select"
                            formControlName="selectedLocation"
                        >
                            <option value="">Select Location</option>
                            <option *ngFor="let l of location" [value]="l.code">
                                {{ l.name }}
                            </option>
                        </select>
                    </div>
                </div>

                <!-- Row 4 -->
                <div class="row">
                    <div class="col-sm-3 mb-3">
                        <label>Appointment Criteria</label>
                        <select
                            class="form-control form-select"
                            formControlName="selectedCriteria"
                        >
                            <option value="">Select Criteria</option>
                            <option *ngFor="let c of criteria" [value]="c.code">
                                {{ c.name }}
                            </option>
                        </select>
                    </div>

                    <div class="col-sm-3 mb-3">
                        <label
                            >Patient Notified
                            <span class="text-danger">*</span></label
                        >
                        <select
                            class="form-control form-select"
                            formControlName="selectedNotified"
                        >
                            <option value="">Select</option>
                            <option *ngFor="let n of notified" [value]="n.code">
                                {{ n.name }}
                            </option>
                        </select>
                    </div>

                    <div class="col-sm-3 mb-3">
                        <label
                            >Appointment Status
                            <span class="text-danger">*</span></label
                        >
                        <select
                            class="form-control form-select"
                            formControlName="selectedStatus"
                        >
                            <option value="">Select</option>
                            <option *ngFor="let s of status" [value]="s.code">
                                {{ s.name }}
                            </option>
                        </select>
                    </div>

                    <div class="col-sm-3 mb-3">
                        <label
                            >Payer Info
                            <span class="text-danger">*</span></label
                        >
                        <select
                            class="form-control form-select"
                            formControlName="selectedPayer"
                        >
                            <option value="">Select</option>
                            <option *ngFor="let p of payer" [value]="p.code">
                                {{ p.name }}
                            </option>
                        </select>
                    </div>
                </div>

                <!-- Row 5 -->
                <div class="row">
                    <div class="col-sm-3 mb-3">
                        <label>Patient Balance</label>
                        <input
                            type="text"
                            class="form-control"
                            formControlName="PatientBalance"
                            placeholder=" Patient Balance"
                        />
                    </div>

                    <div class="col-sm-3 mb-3">
                        <label>Plan Balance</label>
                        <input
                            type="text"
                            class="form-control"
                            formControlName="PlanBalance"
                            placeholder=" Plan Balance"
                        />
                    </div>

                    <div class="col-sm-3 mb-3">
                        <label>Plan Copay</label>
                        <input
                            type="text"
                            class="form-control"
                            formControlName="PlanCopay"
                            placeholder=" Plan Copay"
                        />
                    </div>

                    <div class="col-sm-3 mb-3">
                        <label>Payer Plan</label>
                        <select
                            class="form-control form-select"
                            formControlName="selectedPayerplan"
                            placeholder=" Payer Plan"
                        >
                            <option value="">Select</option>
                            <option
                                *ngFor="let plan of payerPlan"
                                [value]="plan.code"
                            >
                                {{ plan.name }}
                            </option>
                        </select>
                    </div>
                </div>

                <!-- Row 6 -->
                <div class="row mt-3">
                    <div class="col-sm-12">
                        <label><b>Insurance No:</b> {{ insurranceNo }}</label>
                        <div class="form-check form-check-inline ms-3">
                            <input
                                type="radio"
                                class="form-check-input"
                                formControlName="appointment"
                                value="0"
                            />
                            <label class="form-check-label">Consultation</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input
                                type="radio"
                                class="form-check-input"
                                formControlName="appointment"
                                value="1"
                            />
                            <label class="form-check-label"
                                >Non Consultation</label
                            >
                        </div>
                    </div>
                </div>
            </form>
        </div>
    </div>

    
    <div class="accordion" id="accordionExample">
    <div class="accordion-item mb-2">
        <h2 class="accordion-header">
          <button class="accordion-button collapsed" type="button" data-bs-toggle="collapse" data-bs-target="#collapseOne" aria-expanded="false" aria-controls="collapseOne">
            Available Timeslots
          </button>
        </h2>
        <div id="collapseOne" class="accordion-collapse collapse" data-bs-parent="#accordionExample">
          <div class="accordion-body">
        <!-- Timeslots Card -->
            <div class="card shadow-sm ">
                <div class="card-body">
                    <div class="table-responsive">
                        <table
                            class="table table-bordered table-hover table-sm text-center"
                        >
                            <thead class="table-light">
                                <tr>
                                    <th>Time</th>
                                    <th>Patient</th>
                                    <th>MR No.</th>
                                    <th>Duration</th>
                                    <th>Purpose</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    *ngFor="let a of AppointmentData"
                                    [ngClass]="{ 'high-rated': RowColor(a) }"
                                >
                                    <td>{{ a.Time }}</td>
                                    <td>{{ a.personName }}</td>
                                    <td>{{ a.mrno }}</td>
                                    <td>{{ a.duration }}</td>
                                    <td>{{ a.purposeOfVisit }}</td>
                                </tr>
                                <tr *ngIf="AppointmentData.length === 0">
                                    <td colspan="5" class="text-center">
                                        No appointment found.
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>  
        </div>
        </div>
      </div>
      </div>
        <!-- Action Buttons -->
        <div class="text-end mb-2">
            <button class="btn btn-danger me-2" (click)="cancel()">Cancel</button>
            <button class="btn btn-primary me-2" (click)="submitAppointment()">
                Submit
            </button>
        </div>


    <!-- Eligibility Card -->
    <div class="card shadow-sm mb-2">
        <div class="card-header">
            <h5 class="mb-0">Eligibility Info</h5>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table
                    class="table table-bordered table-sm table-striped text-center"
                >
                    <thead class="table-light">
                        <tr>
                            <th>MR No</th>
                            <th>Status</th>
                            <th>Payer Name</th>
                            <th>Plan</th>
                            <th>Facility</th>
                            <th>Eligibility Date</th>
                            <th>View Details</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let e of eligibty">
                            <td>{{ e.mrno }}</td>
                            <td>{{ e.status }}</td>
                            <td>{{ e.payerName }}</td>
                            <td>{{ e.planName }}</td>
                            <td>{{ e.facility }}</td>
                            <td>{{ e.eligiblityDate }}</td>
                            <td>
                                <button class="btn btn-outline-primary btn-sm" (click)="showDetailsDialog(e)">
                                    View
                                </button>
                            </td>
                        </tr>
                        <tr *ngIf="!eligibty || eligibty.length === 0">
                            <td colspan="7" class="text-center">
                                No data found.
                            </td>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
    </div>

    <!-- Action Buttons -->
    <div class="text-end mb-2">
        <button class="btn btn-secondary me-2" (click)="checkEligibility()">
            Eligibility
        </button>
    </div>
</div>
