<nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-light bg-opacity-50 p-2">
        <li class="breadcrumb-item">
            <a href="javascript:void(0);">
                <ng-icon name="tablerSmartHome"></ng-icon>
                {{ 'SCHEDULING' | translate }}
            </a>
        </li>
        <li
            class="d-flex align-items-center text-muted mx-1"
            aria-current="page"
        >
            <ng-icon [name]="isRtl ? 'tablerChevronLeft' : 'tablerChevronRight'"></ng-icon>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            {{ 'APPOINTMENT_BOOKING' | translate }}
        </li>
    </ol>
</nav>
 
<div class="">
    <div class="row align-items-stretch">
        <div [ngClass]="{ 'col-12': true, 'col-lg-8': (AppointmentData.length || 0) > 0 }" class="d-flex flex-column">
    <!-- Book Appointment Form Card -->
    <div class="card shadow-lg mb-2">
        <div class="card-header">
            <h5 class="mb-0">{{ 'APPOINTMENT_BOOKING' | translate }}</h5>
        </div>

        <div class="card-body">
            <form *ngIf="appointmentForm" [formGroup]="appointmentForm">
                <div class="row col-12">
                    <div class="col-sm-3 mb-2">
                        <label>{{ 'FACILITY' | translate }} <span class="text-danger">*</span></label>
                        <select
                            class="form-control form-select"
                            formControlName="facility"
                            (change)="GetSpecialitybyFacilityId(this.appointmentForm.get('facility')?.value)">
                            <option value="">-- {{ 'SELECT_FACILITY' | translate }} --</option>
                            <option *ngFor="let f of facilities"[value]="f.code">
                                {{ f.name }}
                            </option> 
                        </select>
                        <div class="text-danger small" *ngIf="appointmentForm.get('facility')?.touched && appointmentForm.get('facility')?.invalid">
                            {{ 'FACILITY_IS_REQUIRED' | translate }}
                        </div>
                    </div>

                    <div class="col-sm-3 mb-2">
                        <label>{{ 'SPECIALITY' | translate }} <span class="text-danger">*</span></label>
                        <select
                            class="form-control form-select"
                            formControlName="speciality"
                            (change)="GetSitebySpecialityId(this.appointmentForm.get('speciality')?.value)">
                            <option value="">-- {{ 'SELECT_SPECIALITY' | translate }} --</option>
                            <option *ngFor="let s of specialities" [value]="s.specialtyId">
                                {{ s.specialtyName }}
                            </option>
                        </select>
                        <div class="text-danger small" *ngIf="appointmentForm.get('speciality')?.touched && appointmentForm.get('speciality')?.invalid">
                            {{ 'SPECIALITY_IS_REQUIRED' | translate }}
                        </div>
                    </div>

                    <div class="col-sm-3 mb-2">
                        <label>{{ 'PROVIDER' | translate }} <span class="text-danger">*</span></label>
                        <select
                        class="form-control form-select"
                        formControlName="provider"
                        (change)="GetSpecialityByEmployeeId(appointmentForm.get('provider')?.value)">
                        <option value="">-- {{ 'SELECT_PROVIDER' | translate }} --</option>
                        <option *ngFor="let p of providers" [value]="p.employeeId">
                            {{ p.fullName }}
                        </option>
                        </select>

                        <div class="text-danger small" *ngIf="appointmentForm.get('provider')?.touched && appointmentForm.get('provider')?.invalid">
                            {{ 'PROVIDER_IS_REQUIRED' | translate }}
                        </div>

                    </div>

                    <div class="col-sm-3 mb-2">
                        <label>{{ 'SITE' | translate }} <span class="text-danger">*</span></label>
                        <select
                            class="form-control form-select"
                            formControlName="site"
                            (change)="GetProviderbySiteId(this.appointmentForm.get('site')?.value)"
                        >
                            <option value="">-- {{ 'SELECT_SITE' | translate }} --</option>
                            <option *ngFor="let site of siteArray" [value]="site.siteId">
                                {{ site.siteName }}
                            </option>
                        </select>
                        <div class="text-danger small" *ngIf="appointmentForm.get('site')?.touched && appointmentForm.get('site')?.invalid">
                            {{ 'SITE_IS_REQUIRED' | translate }}
                        </div>
                    </div>
                
                    <div class="col-sm-3 mb-2">
                        <label>{{ 'DATE' | translate }} <span class="text-danger">*</span></label>
                        <input
                            type="text"
                            class="form-control date"
                            formControlName="date"
                            data-provider="flatpickr"
                            id="entryDate"
                            placeholder="{{ 'SELECT_DATE' | translate }}"
                            (change)="GetAppointmentByTime(this.appointmentForm.get('date')?.value)"
                        />
                        <div class="text-danger small" *ngIf="appointmentForm.get('date')?.touched && appointmentForm.get('date')?.invalid">
                            {{ 'DATE_IS_REQUIRED' | translate }}
                        </div>
                    </div>

                    <div class="col-sm-3 mb-2">
                        <label>{{ 'TIME' | translate }} <span class="text-danger">*</span></label>
                        <select
                            class="form-control form-select scrollable-select"
                            formControlName="time"
                            style="max-height: 50px !important;
                            /* Approx 3-4 options height */ 
                            overflow-y: auto !important;"
                            (onClick)="GetTime()">
                            <option value="" disabled selected>-- {{ 'SELECT_TIME' | translate }} --</option>
                            <option *ngFor="let t of Times"
                                    [value]="formatDisplayTime(t.Time)"
                                    [disabled]="isTimeBooked(formatDisplayTime(t.Time))"
                                    [ngClass]="{ 'text-muted': isTimeBooked(formatDisplayTime(t.Time)) }"
                                    [title]="isTimeBooked(formatDisplayTime(t.Time)) ? ('ALREADY_BOOKED' | translate) : ''">
                                {{ formatDisplayTime(t.Time) }} {{ isTimeBooked(formatDisplayTime(t.Time)) ? ('BOOKED' | translate) : '' }}
                            </option>
                        </select>
                        <div class="text-danger small" *ngIf="appointmentForm.get('time')?.touched && appointmentForm.get('time')?.invalid">
                            {{ 'TIME_IS_REQUIRED' | translate }} is required.
                        </div>
                    </div>

                    <!-- <div class="col-sm-3 mb-3">
                        <label>Time <span class="text-danger">*</span></label>
                        <select
                            class="form-control form-select scrollable-select"
                            formControlName="time"
                        >
                            <option value="" disabled selected>-- Select Time --</option>
                            <option *ngFor="let t of Times" [value]="t.Time">
                                {{ t.Time }}
                            </option>
                        </select>
                    </div> -->

                    <!-- <div class="col-sm-3 mb-3">
                        <label>Time <span class="text-danger">*</span></label>
                        <div class="custom-dropdown-wrapper">
                            <select
                                class="form-control form-select"
                                formControlName="time"
                            >
                                <option class="select-option" value="" disabled selected>-- Select Time --</option>
                                <option
                                    *ngFor="let t of Times"
                                    class="select-option"
                                    [value]="t.Time"
                                    [selected]="
                                        t.Time ===
                                        appointmentForm.get('time')?.value
                                    "
                                >
                                    {{ t.Time }}
                                </option>
                            </select>
                        </div>
                    </div> -->

                    <div class="col-sm-3 mb-2">
                        <label
                            >{{ 'PURPOSE_OF_VISIT' | translate }}
                            <span class="text-danger">*</span></label
                        >
                        <select
                            class="form-control form-select"
                            formControlName="selectedPurpose"
                        >
                            <option value="" disabled selected>-- {{ 'SELECT_PURPOSE' | translate }} --</option>
                            <option *ngFor="let p of purpose" [value]="p.code">
                                {{ p.name }}
                            </option>
                        </select>
                        <div class="text-danger small" *ngIf="appointmentForm.get('selectedPurpose')?.touched && appointmentForm.get('selectedPurpose')?.invalid">
                            {{ 'PURPOSE_OF_VISIT_IS_REQUIRED' | translate }}
                        </div>
                    </div>

                    <div class="col-sm-3 mb-2">
                        <label
                            >{{ 'VISIT_TYPE' | translate }}
                            <span class="text-danger">*</span></label
                        >
                        <select
                            class="form-control form-select"
                            formControlName="selectedVisitType"
                        >
                            <option value="" disabled selected>-- {{ 'SELECT_VISIT_TYPE' | translate }} --</option>
                            <option
                                *ngFor="let v of visittype"
                                [value]="v.code"
                            >
                                {{ v.name }}
                            </option>
                        </select>
                        <div class="text-danger small" *ngIf="appointmentForm.get('selectedVisitType')?.touched && appointmentForm.get('selectedVisitType')?.invalid">
                            {{ 'VISIT_TYPE_IS_REQUIRED' | translate }}
                        </div>
                    </div>
                
                    <div class="col-sm-3 mb-2">
                        <label
                            >{{ 'REFERRED_BY' | translate }} 
                            <span class="text-danger">*</span></label
                        >
                        <select
                            class="form-control form-select"
                            formControlName="selectedReferredBy"
                        >
                            <option value="" disabled selected>-- {{ 'SELECT_REFERRED_BY' | translate }} --</option>
                            <option *ngFor="let r of referred" [value]="r.code">
                                {{ r.name }}
                            </option>
                        </select>
                        <div class="text-danger small" *ngIf="appointmentForm.get('selectedReferredBy')?.touched && appointmentForm.get('selectedReferredBy')?.invalid">
                            {{ 'REFERRED_BY_IS_REQUIRED' | translate }} 
                        </div>
                    </div>

                    <div class="col-sm-3 mb-2">
                        <label>{{ 'TYPE' | translate }} <span class="text-danger">*</span></label>
                        <select
                            class="form-control form-select"
                            formControlName="selectedType"
                        >
                            <option value="" disabled selected>-- {{ 'SELECT_TYPE' | translate }} --</option>
                            <option *ngFor="let t of type" [value]="t.code">
                                {{ t.name }}
                            </option>
                        </select>
                        <div class="text-danger small" *ngIf="appointmentForm.get('selectedType')?.touched && appointmentForm.get('selectedType')?.invalid">
                            {{ 'TYPE_IS_REQUIRED' | translate }}
                        </div>
                    </div>

                    <div class="col-sm-3 mb-2">
                        <label
                            >{{ 'DURATION' | translate }} <span class="text-danger">*</span></label
                        >
                        <select
                            class="form-control form-select"
                            formControlName="selectedDuration"
                        >
                            <option value="" disabled selected>-- {{ 'SELECT_DURATION' | translate }} --</option>
                            <option *ngFor="let d of duration" [value]="d.value">
                                {{ d.name }}
                            </option>
                        </select>
                        <div class="text-danger small" *ngIf="appointmentForm.get('selectedDuration')?.touched && appointmentForm.get('selectedDuration')?.invalid">
                            {{ 'DURATION_IS_REQUIRED' | translate }}
                        </div>
                    </div>

                    <div class="col-sm-3 mb-2">
                        <label
                            >{{ 'LOCATION' | translate }} <span class="text-danger">*</span></label
                        >
                        <select
                            class="form-control form-select"
                            formControlName="selectedLocation"
                        >
                            <option value="" disabled selected>-- {{ 'SELECT_LOCATION' | translate }} --</option>
                            <option *ngFor="let l of location" [value]="l.code">
                                {{ l.name }}
                            </option>
                        </select>
                        <div class="text-danger small" *ngIf="appointmentForm.get('selectedLocation')?.touched && appointmentForm.get('selectedLocation')?.invalid">
                            {{ 'LOCATION_IS_REQUIRED' | translate }}
                        </div>
                    </div>

                    <div class="col-sm-3 mb-2">
                        <label>{{ 'APPOINTMENT_CRITERIA' | translate }}<span class="text-danger">*</span></label>
                        <select
                            class="form-control form-select"
                            formControlName="selectedCriteria"
                        >
                            <option value="" disabled selected>-- {{ 'SELECT_CRITERIA' | translate }} --</option>
                            <option *ngFor="let c of criteria" [value]="c.code">
                                {{ c.name }}
                            </option>
                        </select>
                        <div class="text-danger small" *ngIf="appointmentForm.get('selectedCriteria')?.touched && appointmentForm.get('selectedCriteria')?.invalid">
                            {{ 'APPOINTMENT_CRITERIA_IS_REQUIRED' | translate }}
                        </div>
                    </div>

                    <div class="col-sm-3 mb-2">
                        <label
                            >{{ 'PATIENT_NOTIFIED' | translate }}
                            <span class="text-danger">*</span></label
                        >
                        <select
                            class="form-control form-select"
                            formControlName="selectedNotified"
                        >
                            <option value="" disabled selected>-- {{ 'SELECT' | translate }} --</option>
                            <option *ngFor="let n of notified" [value]="n.code">
                                {{ n.name }}
                            </option>
                        </select>
                        <div class="text-danger small" *ngIf="appointmentForm.get('selectedNotified')?.touched && appointmentForm.get('selectedNotified')?.invalid">
                            {{ 'PATIENT_NOTIFIED_IS_REQUIRED' | translate }}
                        </div>
                    </div>

                    <div class="col-sm-3 mb-2" *ngIf="this.qid">
                        <label
                            >{{ 'APPOINTMENT_STATUS' | translate }}
                            <span class="text-danger">*</span></label
                        >
                        <select
                            class="form-control form-select"
                            formControlName="selectedStatus"
                        >
                            <option value="">-- {{ 'SELECT' | translate }} --</option>
                            <option *ngFor="let s of status" [value]="s.code">
                                {{ s.name }}
                            </option>
                        </select>
                        <div class="text-danger small" *ngIf="appointmentForm.get('selectedStatus')?.touched && appointmentForm.get('selectedStatus')?.invalid">
                            {{ 'APPOINTMENT_STATUS_IS_REQUIRED' | translate }}
                        </div>
                    </div>

                    <div class="col-sm-3 mb-2"> 
                        <label
                            >{{ 'PAYER_INFO' | translate }}
                            <span class="text-danger">*</span></label
                        >
                        <select
                            class="form-control form-select"
                            formControlName="selectedPayer"
                        >
                            <option value="" disabled selected>-- {{ 'SELECT' | translate }} --</option>
                            <option *ngFor="let p of payer" [value]="p.code">
                                {{ p.name }}
                            </option>
                        </select>
                        <div class="text-danger small" *ngIf="appointmentForm.get('selectedPayer')?.touched && appointmentForm.get('selectedPayer')?.invalid">
                            {{ 'PAYER_INFO_IS_REQUIRED' | translate }}
                        </div>
                    </div>

                    <div class="col-sm-3 mb-2">
                        <label>{{ 'PAYER_PLAN' | translate }}</label>
                        <select
                            class="form-control form-select"
                            formControlName="selectedPayerplan"
                        >
                            <option value="" disabled selected>-- {{ 'SELECT_PAYER_PLAN' | translate }} --</option>
                            <option
                                *ngFor="let plan of payerPlan"
                                [value]="plan.code"
                            >
                                {{ plan.name }}
                            </option>
                        </select>
                    </div>

                    <div class="col-sm-3 mb-2">
                        <label>{{ 'APPOINTMENT_NOTE' | translate }}</label>
                        <input
                            type="text"
                            class="form-control"
                            formControlName="AppointmentNote"
                            placeholder="{{ 'APPOINTMENT_NOTE' | translate }}"
                        />
                    </div>

                    <div class="col-sm-3 mb-2">
                        <label>{{ 'PATIENT_BALANCE' | translate }}</label>
                        <input
                            type="text"
                            class="form-control"
                            formControlName="PatientBalance"
                            placeholder="{{ 'PATIENT_BALANCE' | translate }}"
                        />
                    </div>

                    <div class="col-sm-3 mb-2">
                        <label>{{ 'PLAN_BALANCE' | translate }}</label>
                        <input
                            type="text"
                            class="form-control"
                            formControlName="PlanBalance"
                            placeholder="{{ 'PLAN_BALANCE' | translate }}"
                        />
                    </div>

                    <div class="col-sm-3 mb-2">
                        <label>{{ 'PLAN_COPAY' | translate }}</label>
                        <input
                            type="text"
                            class="form-control"
                            formControlName="PlanCopay"
                            placeholder="{{ 'PLAN_COPAY' | translate }}"
                        />
                    </div>

                <!-- </div>

                <div class="row mt-2"> -->
                    <div class="col-sm-6 mt-4">
                        <!-- <label><b>{{ 'INSURANCE_NO' | translate }}</b> {{ insurranceNo }}</label> -->
                        <div class="form-check form-check-inline ms-3">
                            <input
                                type="radio"
                                class="form-check-input"
                                formControlName="IsConsultationVisit"
                                value="0"
                            />
                            <label class="form-check-label">{{ 'CONSULTATION' | translate }}</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input
                                type="radio"
                                class="form-check-input"
                                formControlName="IsConsultationVisit"
                                value="1"
                            />
                            <label class="form-check-label">{{ 'NON_CONSULTATION' | translate }}</label>
                        </div>
                    </div>
                    <!-- Action Buttons -->
                    <div class="col-sm-3 text-end mt-2">
                        <!-- <button class="btn btn-danger me-2" (click)="cancel()">Cancel</button> -->
                        <button class="btn btn-primary me-1 ms-1" (click)="submitAppointment()">
                            {{ 'SUBMIT' | translate }}
                        </button>
                        <button class="btn btn-secondary" (click)="resetForm()">
                            {{ 'RESET' | translate }}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    
        </div>
        <div *ngIf="(AppointmentData.length || 0) > 0" class="col-12 col-lg-4 timeslots-panel d-flex flex-column">
            <!-- Normal Timeslots Card (no accordion) -->
            <div class="card shadow-sm">
                <div class="card-header">
                    <h5 class="mb-0">{{ 'AVAILABLE_TIMESLOTS' | translate }}</h5>
                </div>
                <div class="card-body d-flex flex-column">
                    <div class="table-responsive timeslots-scroll">
                        <table
                            class="table table-bordered table-hover table-sm text-center"
                        >
                            <thead class="table-light">
                                <tr>
                                    <th style="width: 30%">{{ 'TIME' | translate }}</th>
                                    <th style="width: 70%">{{ 'PATIENT_NAME_MR_NO' | translate }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    *ngFor="let a of AppointmentData;  trackBy: trackByTime"
                                    [ngClass]="{ 'high-rated': RowColor(a), 'time-selected': isSelectedTime(a.Time), 'text-muted': a.mrno }"
                                    [attr.title]="a.mrno ? ('ALREADY_BOOKED' | translate) : ''"
                                    [style.cursor]="a.mrno ? 'not-allowed' : 'pointer'"
                                    (click)="!a.mrno && onTimeRowClick(a)">
                                    <td style="width: 30%">{{ a.Time }}</td>
                                    <td style="width: 70%"><b> {{ a.personName }} </b> 
                                        <span *ngIf="a.mrno"> | </span> {{ a.mrno }}</td>
                                </tr>
                                <tr *ngIf="AppointmentData.length === 0">
                                    <td colspan="5" class="text-center">
                                        {{ 'NO_DATA_FOUND' | translate }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Eligibility Card -->
    <div class="card shadow-sm mb-2">
        <div class="card-header">
            <h5 class="mb-0">{{ 'ELIGIBILITY_INFO' | translate }}</h5>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table
                    class="table table-bordered table-sm table-striped text-center"
                >
                    <thead class="table-light">
                        <tr>
                            <th>{{ 'MR_NO' | translate }}</th>
                            <th>{{ 'STATUS' | translate }}</th>
                            <th>{{ 'NAME' | translate }}</th>
                            <th>{{ 'PLAN' | translate }}</th>
                            <th>{{ 'FACILITY' | translate }}</th>
                            <th>{{ 'ELIGIBILITY_DATE' | translate }}</th>
                            <th>{{ 'VIEW_DETAILS' | translate }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let e of eligibty">
                            <td>{{ e.mrno }}</td>
                            <td>{{ e.status }}</td>
                            <td>{{ e.payerName }}</td>
                            <td>{{ e.planName }}</td>
                            <td>{{ e.facility }}</td>
                            <td>{{ e.eligiblityDate }}</td>
                            <td>
                                <button class="btn btn-outline-primary btn-sm" (click)="showDetailsDialog(e,cancelAppointmentModal)">
                                {{ 'VIEW' | translate }}
                                </button>
                            </td>
                        </tr>
                        <tr *ngIf="!eligibty || eligibty.length === 0">
                            <td colspan="7" class="text-center">
                                {{ 'NO_DATA_FOUND' | translate }}
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- Action Buttons -->
                <div class="text-end">
                    <button class="btn btn-secondary me-2" (click)="checkEligibility()">
                        {{ 'ELIGIBILITY' | translate }}
                    </button>
                </div>
            </div>
        </div>


    </div>

    
</div>



  <!-- Cancel Appointment Modal -->
  <ng-template #cancelAppointmentModal let-modal>
    <div class="modal-header">
      <h5 class="modal-title" id="cancelAppointmentLabel">Details</h5>
      <button type="button" class="btn-close" (click)="modal.dismiss()"></button>
    </div>

    <div class="modal-body">
        <div class="row">
            <p class="response-details">Response Details: {{ selectedElement?.responseDetails || 'No Details' }}</p>
            <!-- <div class="col-md-4">
                <label>Facility</label>
                <select class="form-control form-select" [(ngModel)]="selectedReschedulingReasons">
                    <option value="" disabled selected>-- Select Facility --</option>
                    <option *ngFor="let f of ReschedulingReasons" [value]="f.code">
                        {{ f.name }}
                    </option>
                </select>
            </div> -->
        </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Close</button>
    </div>
</ng-template>