<nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-light bg-opacity-50 p-2">
        <li class="breadcrumb-item">
            <a href="javascript:void(0);">
                <ng-icon name="tablerSmartHome"></ng-icon>
                {{ 'Scheduling' | translate }}
            </a>
        </li>
        <li
            class="d-flex align-items-center text-muted mx-1"
            aria-current="page"
        >
            <ng-icon [name]="isRtl ? 'tablerChevronLeft' : 'tablerChevronRight'"></ng-icon>
        </li>
        <li class="breadcrumb-item active" aria-current="page">
            {{ 'Create Appointment' | translate }}
        </li>
    </ol>
</nav>
 
<div class="">
    <div class="row align-items-stretch">
        <div [ngClass]="{ 'col-12': true, 'col-lg-8': (AppointmentData.length || 0) > 0 }" class="d-flex flex-column">
    <!-- Book Appointment Form Card -->
    <div class="card shadow-lg mb-2">
        <div class="card-header">
            <h5 class="mb-0">{{ 'Appointment Booking' | translate }}</h5>
        </div>

        <div class="card-body">
            <form [formGroup]="appointmentForm" (ngSubmit)="onSubmit()">
                <div class="row col-12">
                    <div class="col-sm-3 mb-2">
                        <label>{{ 'Facility' | translate }} <span class="text-danger">*</span></label>
                        <select
                            class="form-control form-select"
                            formControlName="facility"
                            (change)="GetSpecialitybyFacilityId(this.appointmentForm.get('facility')?.value)">
                            <option value="">-- {{ 'Select Facility' | translate }} --</option>
                            <option *ngFor="let f of facilities"[value]="f.code">
                                {{ f.name }}
                            </option> 
                        </select>
                    </div>

                    <div class="col-sm-3 mb-2">
                        <label>{{ 'Speciality' | translate }} <span class="text-danger">*</span></label>
                        <select
                            class="form-control form-select"
                            formControlName="speciality"
                            (change)="GetSitebySpecialityId(this.appointmentForm.get('speciality')?.value)">
                            <option value="">-- {{ 'Select Speciality' | translate }} --</option>
                            <option *ngFor="let s of specialities" [value]="s.specialtyId">
                                {{ s.specialtyName }}
                            </option>
                        </select>
                    </div>

                    <div class="col-sm-3 mb-2">
                        <label>{{ 'Provider' | translate }} <span class="text-danger">*</span></label>
                        <select
                        class="form-control form-select"
                        formControlName="provider"
                        (change)="GetSpecialityByEmployeeId(appointmentForm.get('provider')?.value)">
                        <option value="">-- {{ 'Select Provider' | translate }} --</option>
                        <option *ngFor="let p of providers" [value]="p.employeeId">
                            {{ p.fullName }}
                        </option>
                        </select>

                    </div>

                    <div class="col-sm-3 mb-2">
                        <label>{{ 'Sites' | translate }} <span class="text-danger">*</span></label>
                        <select
                            class="form-control form-select"
                            formControlName="site"
                            (change)="GetProviderbySiteId(this.appointmentForm.get('site')?.value)"
                        >
                            <option value="">-- {{ 'Select Site' | translate }} --</option>
                            <option *ngFor="let site of siteArray" [value]="site.siteId">
                                {{ site.siteName }}
                            </option>
                        </select>
                    </div>
                
                    <div class="col-sm-3 mb-2">
                        <label>{{ 'Date' | translate }} <span class="text-danger">*</span></label>
                        <input
                            type="text"
                            class="form-control date"
                            formControlName="date"
                            data-provider="flatpickr"
                            id="entryDate"
                            placeholder="{{ 'Select date' | translate }}"
                            (change)="GetAppointmentByTime(this.appointmentForm.get('date')?.value)"
                        />
                    </div>

                    <div class="col-sm-3 mb-2">
                        <label>{{ 'Time' | translate }} <span class="text-danger">*</span></label>
                        <select
                            class="form-control form-select scrollable-select"
                            formControlName="time"
                            style="max-height: 50px !important;
                            /* Approx 3-4 options height */ 
                            overflow-y: auto !important;"
                            (onClick)="GetTime()">
                            <option value="" disabled selected>-- {{ 'Select Time' | translate }} --</option>
                            <option *ngFor="let t of Times"
                                    [value]="formatDisplayTime(t.Time)"
                                    [disabled]="isTimeBooked(formatDisplayTime(t.Time))"
                                    [ngClass]="{ 'text-muted': isTimeBooked(formatDisplayTime(t.Time)) }"
                                    [title]="isTimeBooked(formatDisplayTime(t.Time)) ? ('Already booked' | translate) : ''">
                                {{ formatDisplayTime(t.Time) }} {{ isTimeBooked(formatDisplayTime(t.Time)) ? ('(Booked)' | translate) : '' }}
                            </option>
                        </select>
                    </div>

                    <!-- <div class="col-sm-3 mb-3">
                        <label>Time <span class="text-danger">*</span></label>
                        <select
                            class="form-control form-select scrollable-select"
                            formControlName="time"
                        >
                            <option value="" disabled selected>-- Select Time --</option>
                            <option *ngFor="let t of Times" [value]="t.Time">
                                {{ t.Time }}
                            </option>
                        </select>
                    </div> -->

                    <!-- <div class="col-sm-3 mb-3">
                        <label>Time <span class="text-danger">*</span></label>
                        <div class="custom-dropdown-wrapper">
                            <select
                                class="form-control form-select"
                                formControlName="time"
                            >
                                <option class="select-option" value="" disabled selected>-- Select Time --</option>
                                <option
                                    *ngFor="let t of Times"
                                    class="select-option"
                                    [value]="t.Time"
                                    [selected]="
                                        t.Time ===
                                        appointmentForm.get('time')?.value
                                    "
                                >
                                    {{ t.Time }}
                                </option>
                            </select>
                        </div>
                    </div> -->

                    <div class="col-sm-3 mb-2">
                        <label
                            >{{ 'Purpose of Visit' | translate }}
                            <span class="text-danger">*</span></label
                        >
                        <select
                            class="form-control form-select"
                            formControlName="selectedPurpose"
                        >
                            <option value="" disabled selected>-- {{ 'Select Purpose' | translate }} --</option>
                            <option *ngFor="let p of purpose" [value]="p.code">
                                {{ p.name }}
                            </option>
                        </select>
                    </div>

                    <div class="col-sm-3 mb-2">
                        <label
                            >{{ 'Visit Type' | translate }}
                            <span class="text-danger">*</span></label
                        >
                        <select
                            class="form-control form-select"
                            formControlName="selectedVisitType"
                        >
                            <option value="" disabled selected>-- {{ 'Select Visit Type' | translate }} --</option>
                            <option
                                *ngFor="let v of visittype"
                                [value]="v.code"
                            >
                                {{ v.name }}
                            </option>
                        </select>
                    </div>
                
                    <div class="col-sm-3 mb-2">
                        <label
                            >{{ 'Referred By' | translate }} 
                            <span class="text-danger">*</span></label
                        >
                        <select
                            class="form-control form-select"
                            formControlName="selectedReferredBy"
                        >
                            <option value="" disabled selected>-- {{ 'Select Referred By' | translate }} --</option>
                            <option *ngFor="let r of referred" [value]="r.code">
                                {{ r.name }}
                            </option>
                        </select>
                    </div>

                    <div class="col-sm-3 mb-2">
                        <label>{{ 'Type' | translate }} <span class="text-danger">*</span></label>
                        <select
                            class="form-control form-select"
                            formControlName="selectedType"
                        >
                            <option value="" disabled selected>-- {{ 'Select Type' | translate }} --</option>
                            <option *ngFor="let t of type" [value]="t.code">
                                {{ t.name }}
                            </option>
                        </select>
                    </div>

                    <div class="col-sm-3 mb-2">
                        <label
                            >{{ 'Duration' | translate }} <span class="text-danger">*</span></label
                        >
                        <select
                            class="form-control form-select"
                            formControlName="selectedDuration"
                        >
                            <option value="" disabled selected>-- {{ 'Select Duration' | translate }} --</option>
                            <option *ngFor="let d of duration" [value]="d.value">
                                {{ d.name }}
                            </option>
                        </select>
                    </div>

                    <div class="col-sm-3 mb-2">
                        <label
                            >{{ 'Location' | translate }} <span class="text-danger">*</span></label
                        >
                        <select
                            class="form-control form-select"
                            formControlName="selectedLocation"
                        >
                            <option value="" disabled selected>-- {{ 'Select Location' | translate }} --</option>
                            <option *ngFor="let l of location" [value]="l.code">
                                {{ l.name }}
                            </option>
                        </select>
                    </div>

                    <div class="col-sm-3 mb-2">
                        <label>{{ 'Appointment Criteria' | translate }}<span class="text-danger">*</span></label>
                        <select
                            class="form-control form-select"
                            formControlName="selectedCriteria"
                        >
                            <option value="" disabled selected>-- {{ 'Select Criteria' | translate }} --</option>
                            <option *ngFor="let c of criteria" [value]="c.code">
                                {{ c.name }}
                            </option>
                        </select>
                    </div>

                    <div class="col-sm-3 mb-2">
                        <label
                            >{{ 'Patient Notified' | translate }}
                            <span class="text-danger">*</span></label
                        >
                        <select
                            class="form-control form-select"
                            formControlName="selectedNotified"
                        >
                            <option value="" disabled selected>-- {{ 'Select' | translate }} --</option>
                            <option *ngFor="let n of notified" [value]="n.code">
                                {{ n.name }}
                            </option>
                        </select>
                    </div>

                    <div class="col-sm-3 mb-2" *ngIf="this.qid">
                        <label
                            >{{ 'Appointment Status' | translate }}
                            <span class="text-danger">*</span></label
                        >
                        <select
                            class="form-control form-select"
                            formControlName="selectedStatus"
                        >
                            <option value="">-- {{ 'Select' | translate }} --</option>
                            <option *ngFor="let s of status" [value]="s.code">
                                {{ s.name }}
                            </option>
                        </select>
                    </div>

                    <div class="col-sm-3 mb-2"> 
                        <label
                            >{{ 'Payer Info' | translate }}
                            <span class="text-danger">*</span></label
                        >
                        <select
                            class="form-control form-select"
                            formControlName="selectedPayer"
                        >
                            <option value="" disabled selected>-- {{ 'Select' | translate }} --</option>
                            <option *ngFor="let p of payer" [value]="p.code">
                                {{ p.name }}
                            </option>
                        </select>
                    </div>

                    <div class="col-sm-3 mb-2">
                        <label>{{ 'Payer Plan' | translate }}</label>
                        <select
                            class="form-control form-select"
                            formControlName="selectedPayerplan"
                        >
                            <option value="" disabled selected>-- {{ 'Select Payer Plan' | translate }} --</option>
                            <option
                                *ngFor="let plan of payerPlan"
                                [value]="plan.code"
                            >
                                {{ plan.name }}
                            </option>
                        </select>
                    </div>

                    <div class="col-sm-3 mb-2">
                        <label>{{ 'Appointment Note' | translate }}</label>
                        <input
                            type="text"
                            class="form-control"
                            formControlName="AppointmentNote"
                            placeholder="{{ 'Appointment Note' | translate }}"
                        />
                    </div>

                    <div class="col-sm-3 mb-2">
                        <label>{{ 'Patient Balance' | translate }}</label>
                        <input
                            type="text"
                            class="form-control"
                            formControlName="PatientBalance"
                            placeholder="{{ 'Patient Balance' | translate }}"
                        />
                    </div>

                    <div class="col-sm-3 mb-2">
                        <label>{{ 'Plan Balance' | translate }}</label>
                        <input
                            type="text"
                            class="form-control"
                            formControlName="PlanBalance"
                            placeholder="{{ 'Plan Balance' | translate }}"
                        />
                    </div>

                    <div class="col-sm-3 mb-2">
                        <label>{{ 'Plan Copay' | translate }}</label>
                        <input
                            type="text"
                            class="form-control"
                            formControlName="PlanCopay"
                            placeholder="{{ 'Plan Copay' | translate }}"
                        />
                    </div>

                <!-- </div>

                <div class="row mt-2"> -->
                    <div class="col-sm-6 mt-4">
                        <label><b>{{ 'Insurance No:' | translate }}</b> {{ insurranceNo }}</label>
                        <div class="form-check form-check-inline ms-3">
                            <input
                                type="radio"
                                class="form-check-input"
                                formControlName="IsConsultationVisit"
                                value="0"
                            />
                            <label class="form-check-label">{{ 'Consultation' | translate }}</label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input
                                type="radio"
                                class="form-check-input"
                                formControlName="appointment"
                                value="1"
                            />
                            <label class="form-check-label">{{ 'Non Consultation' | translate }}</label>
                        </div>
                    </div>
                    <!-- Action Buttons -->
                    <div class="col-sm-3 text-end mt-2">
                        <!-- <button class="btn btn-danger me-2" (click)="cancel()">Cancel</button> -->
                        <button class="btn btn-primary me-2" (click)="submitAppointment()">
                            {{ 'Submit' | translate }}
                        </button>
                    </div>
                </div>
            </form>
        </div>
    </div>

    
        </div>
        <div *ngIf="(AppointmentData.length || 0) > 0" class="col-12 col-lg-4 timeslots-panel d-flex flex-column">
            <!-- Normal Timeslots Card (no accordion) -->
            <div class="card shadow-sm">
                <div class="card-header">
                    <h5 class="mb-0">{{ 'Available Timeslots' | translate }}</h5>
                </div>
                <div class="card-body d-flex flex-column">
                    <div class="table-responsive timeslots-scroll">
                        <table
                            class="table table-bordered table-hover table-sm text-center"
                        >
                            <thead class="table-light">
                                <tr>
                                    <th style="width: 30%">{{ 'Time' | translate }}</th>
                                    <th style="width: 70%">{{ 'MR No / Patient' | translate }}</th>
                                    <!-- <th>MR No.</th> -->
                                    <!-- <th>Duration</th>
                                    <th>Purpose</th> -->
                                </tr>
                            </thead>
                            <tbody>
                                <tr
                                    *ngFor="let a of AppointmentData"
                                    [ngClass]="{ 'high-rated': RowColor(a), 'time-selected': isSelectedTime(a.Time), 'text-muted': a.mrno }"
                                    [attr.title]="a.mrno ? ('This slot is already booked' | translate) : ''"
                                    [style.cursor]="a.mrno ? 'not-allowed' : 'pointer'"
                                    (click)="!a.mrno && onTimeRowClick(a)">
                                    <td style="width: 30%">{{ a.Time }}</td>
                                    <td style="width: 70%"><b> {{ a.mrno }} </b> 
                                        <span *ngIf="a.mrno"> | </span> {{ a.personName }}</td>
                                    <!-- <td>{{ a.mrno }}</td> -->
                                    <!-- <td>{{ a.duration }}</td>
                                    <td>{{ a.purposeOfVisit }}</td> -->
                                </tr>
                                <tr *ngIf="AppointmentData.length === 0">
                                    <td colspan="5" class="text-center">
                                        {{ 'No appointment found.' | translate }}
                                    </td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!-- Eligibility Card -->
    <div class="card shadow-sm mb-2">
        <div class="card-header">
            <h5 class="mb-0">{{ 'Eligibility Info' | translate }}</h5>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table
                    class="table table-bordered table-sm table-striped text-center"
                >
                    <thead class="table-light">
                        <tr>
                            <th>{{ 'MR No' | translate }}</th>
                            <th>{{ 'Status' | translate }}</th>
                            <th>{{ 'Payer Name' | translate }}</th>
                            <th>{{ 'Plan' | translate }}</th>
                            <th>{{ 'Facility' | translate }}</th>
                            <th>{{ 'Eligibility Date' | translate }}</th>
                            <th>{{ 'View Details' | translate }}</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let e of eligibty">
                            <td>{{ e.mrno }}</td>
                            <td>{{ e.status }}</td>
                            <td>{{ e.payerName }}</td>
                            <td>{{ e.planName }}</td>
                            <td>{{ e.facility }}</td>
                            <td>{{ e.eligiblityDate }}</td>
                            <td>
                                <button class="btn btn-outline-primary btn-sm" (click)="showDetailsDialog(e,cancelAppointmentModal)">
                                    {{ 'View' | translate }}
                                </button>
                            </td>
                        </tr>
                        <tr *ngIf="!eligibty || eligibty.length === 0">
                            <td colspan="7" class="text-center">
                                {{ 'No data found.' | translate }}
                            </td>
                        </tr>
                    </tbody>
                </table>
                <!-- Action Buttons -->
                <div class="text-end">
                    <button class="btn btn-secondary me-2" (click)="checkEligibility()">
                        {{ 'Eligibility' | translate }}
                    </button>
                </div>
            </div>
        </div>


    </div>

    
</div>



  <!-- Cancel Appointment Modal -->
  <ng-template #cancelAppointmentModal let-modal>
    <div class="modal-header">
      <h5 class="modal-title" id="cancelAppointmentLabel">Details</h5>
      <button type="button" class="btn-close" (click)="modal.dismiss()"></button>
    </div>

    <div class="modal-body">
        <div class="row">
            <p class="response-details">Response Details: {{ selectedElement?.responseDetails || 'No Details' }}</p>
            <!-- <div class="col-md-4">
                <label>Facility</label>
                <select class="form-control form-select" [(ngModel)]="selectedReschedulingReasons">
                    <option value="" disabled selected>-- Select Facility --</option>
                    <option *ngFor="let f of ReschedulingReasons" [value]="f.code">
                        {{ f.name }}
                    </option>
                </select>
            </div> -->
        </div>
    </div>

    <div class="modal-footer">
      <button type="button" class="btn btn-secondary" (click)="modal.dismiss()">Close</button>
    </div>
</ng-template>