<div class="nav flex-column nav-pills text-white" role="tablist" aria-orientation="vertical">
  <ng-container *ngFor="let item of mainItems">
    <a class="nav-link text-white" [class.active]="selected === item.id" (click)="onSelect(item.id)">
      {{ item.label }}
    </a>
  </ng-container>

  <div class="mt-3 mb-1 text-uppercase fw-bold small text-muted ps-2">
    Orders
  </div>

  <ng-container *ngFor="let item of orderItems">
    <a class="nav-link text-white ps-4" [class.active]="selected === item.id" (click)="onSelect(item.id)">
      {{ item.label }}
    </a>
  </ng-container>
</div>
