<div class="nav flex-column nav-pills" id="v-pills-tab" role="tablist" aria-orientation="vertical">
  <a class="nav-link fw-semibold active show" id="v-pills-home-tab" data-bs-toggle="pill" href="#v-summary-sheet"
    role="tab" aria-controls="v-summary-sheet" aria-selected="true">
    Summary Sheet
  </a>
  <a class="nav-link fw-semibold" id="v-pills-profile-tab" data-bs-toggle="pill" href="#v-patient-document"
    role="tab" aria-controls="v-patient-document" aria-selected="false">
    Patient Document
  </a>
</div>
