<nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-light bg-opacity-50 p-2 mb-3">
        <li class="breadcrumb-item">
            <a href="javascript:void(0);">
                <lucide-angular [img]="homeIcon"></lucide-angular>
                {{'REGISTRATION' | translate}}
            </a>
        </li>
        <li class="breadcrumb-item active d-flex align-items-center text-muted" aria-current="page">
        <ng-icon class="me-1 ms-1"  [name]="isRtl ? 'tablerChevronLeft' : 'tablerChevronRight'"></ng-icon>
             {{'COVERAGES' | translate}}
        </li>
    </ol>
</nav>
<div class="card mt-3">
    <div class="card-body">
        <!-- <div class="container-fluid w-100"> -->
        <!-- <div class="card p-3 shadow mt-2"> -->
        <!-- Header section inside the card -->
        <div class="d-flex justify-content-between align-items-center mb-3">
            <h3  class="card-title mb-3 fw-bold heading-title">
                <lucide-angular [img]="headingIcon" aria-hidden="true"></lucide-angular>
                <span>{{'COVERAGES' | translate}}</span>
            </h3>
            <button
                class="btn btn-success btn-sm w-150 me-1 ms-1"
                type="button"
                (click)="router.navigate(['/registration/covrage-create'])"
            >
                <lucide-angular [img]="plusIcon" class="me-1 ms-1 text-white"></lucide-angular>
                {{'ADD' | translate}}
            </button>
        </div>

        <!-- Table -->
        <!-- <div class="card mt-3">
    <div class="card-body"> -->
        <div class="table-responsive">
            <table class="table table-bordered table-striped">
                <thead>
                    <tr class="text-center">
                        <th>{{'NAME' | translate}}</th>
                        <th>{{'MR_NO' | translate}}</th>
                        <th>{{'INSURANCE_CARRIER' | translate}}</th>
                        <th>{{'INSURED_ID_NO' | translate}}</th>
                        <th>{{'TYPE' | translate}}</th>
                        <th>{{'STATUS' | translate}}</th>
                        <th>{{'ACTION' | translate}}</th>
                    </tr>
                </thead>
                <tbody>
                    <tr *ngFor="let inssub of pagedCoverages">
                        <td>{{ inssub.subscriberName }}</td>
                        <td class="text-center">{{ inssub.mrNo }}</td>
                        <td>{{ inssub.insuranceCarrier }}</td>
                        <td>{{ inssub.insuredIDNo }}</td>
                        <td class="text-center">{{ inssub.type || "N/A" }}</td>
                        <td class="text-center">
                            <select class="form-select form-select-sm w-auto d-inline-block"
                                    [ngModel]="getRowCoverageOrder(inssub)"
                                    (ngModelChange)="onStatusChange(inssub, $event)">
                                <option [ngValue]="null" disabled>{{'SELECT_STATUS' | translate}}</option>
                                <option [ngValue]="0">{{'INACTIVE'}}</option>
                                <option [ngValue]="1">{{'PRIMARY' }}</option>
                                <option [ngValue]="2">{{'SECONDARY'}}</option>
                            </select>
                        </td>
                        <td class="text-center">

                            <div ngbDropdown placement="left-top" class="text-muted">
                                <div
                                    ngbDropdownMenu
                                    class="dropdown-menu-end d-flex gap-2 px-2 py-1"
                                >
                                    <lucide-angular
                                        [img]="editIcon"
                                        class="me-1"
                                        (click)="EditCoverage(inssub.subscriberId)"
                                    ></lucide-angular>
                                    <!-- <ng-icon
                                        name="tablerTrash"
                                        class="text-danger me-1"
                                        (click)="Remove($event, inssub.SubscriberId, 'center')"
                                    ></ng-icon> -->
                                </div>
                            </div>
                        </td>


                    </tr>
                    <tr *ngIf="pagedCoverages.length === 0">
                        <td colspan="8" class="text-center">
                            {{'NO_DATA_FOUND' | translate}}
                        </td>
                    </tr>
                </tbody>
            </table>
        </div>


                <!-- Pagination -->
               <app-generic-pagination
                    [totalItems]="coverageTotalItems"
                    [pageSize]="paginationInfo.RowsPerPage"
                    [currentPage]="paginationInfo.Page"
                    (pageChanged)="onCoveragePageChanged($event)"
                >
                </app-generic-pagination>
                
            <!-- Pagination -->
        <!-- <div class="d-flex flex-column align-items-center mt-3 gap-2">
            <div
                class="d-flex justify-content-end align-items-center bg-light rounded px-3 py-2 gap-3 w-100 flex-wrap"
            >
                <div class="d-flex align-items-center gap-2 flex-wrap">
                    <div class="me-2">
                        {{'SHOWING' | translate}} {{ coverageStart + 1 }} {{'TO' | translate}}
                        {{ coverageEnd > coverageTotalItems ? coverageTotalItems : coverageEnd }}
                        {{'OF' | translate}} {{ coverageTotalItems }} {{'ENTRIES' | translate}}
                    </div>
                    <div>
                        <select
                            class="form-select form-select-sm"
                            style="width: auto"
                            [(ngModel)]="pageSize"
                            [ngModelOptions]="{ standalone: true }"
                            (change)="oncoveragePageSizeChange($event)"
                        >
                            <option *ngFor="let size of pageSizes" [value]="size">
                                {{ size }}
                            </option>
                        </select>
                    </div>
                </div>

                <nav>
                    <ul class="pagination pagination-sm mb-0">
                        <li class="page-item" [class.disabled]="coverageCurrentPage === 1">
                            <button class="page-link" (click)="coveragePrevPage()">{{'PREVIOUS' | translate}}</button>
                        </li>
                        <li
                            class="page-item"
                            *ngFor="let page of coveragePageNumbers"
                            [class.active]="page === coverageCurrentPage"
                            [class.disabled]="page === '...'">
                            <button *ngIf="page !== '...'" class="page-link" (click)="coverageGoToPage(+page)">
                                {{ page }}
                            </button>
                            <span *ngIf="page === '...'" class="page-link">…</span>
                        </li>
                        <li class="page-item" [class.disabled]="coverageCurrentPage === coverageTotalPages">
                            <button class="page-link" (click)="coverageNextPage()">{{'NEXT' | translate}}</button>
                        </li>
                    </ul>
                </nav>
            </div>
        </div> -->
    </div>
</div>
