<form *ngIf="favoritesForm" [formGroup]="favoritesForm">
    <div class="card p-3 shadow rounded">

      <div class="row align-items-end">
        <!-- ICD Version Dropdown -->
          <div class="col-md-3 col-sm-12">
            <label for="icdVersionId" class="form-label">{{ 'ICD_VERSION' |   translate }}:</label>
            <select class="form-control" FilledOnValue formControlName="icdVersionId" id="icdVersionId" required>
              <option value="" disabled selected>{{ 'SELECT_ICD_VERSION' | translate }}</option>
              <option *ngFor="let version of ICDVersions" [value]="version.code">
                {{ version.name }}
              </option>
            </select>
          </div>

          <div class="col-md-2 col-sm-12">
            <label for="searchById" class="form-label">{{ 'SEARCH_CODE' | translate }}:</label>
            <select class="form-control" FilledOnValue formControlName="searchById" id="searchById" required>
              <option value="" disabled selected>{{ 'SELECT_SEARCH_CODE' | translate }}</option>
              <option *ngFor="let item of Searchby" [value]="item.code">
                {{ item.name }}
              </option>
            </select>
          </div>

          <div class="col-md-2 col-sm-12"  *ngIf="favoritesForm.value.searchById != 3">
            <label for="startingCode" class="form-label">{{ 'STARTING_CODE' | translate }}:</label>
            <input type="text" FilledOnValue class="form-control" formControlName="startingCode" id="startingCode"
              placeholder="{{ 'ENTER_STARTING_CODE' | translate }}" />
          </div>
            <!-- <div class="row col-12"> -->
              <!-- Ending Code -->

              <div class="col-md-2 col-sm-12" *ngIf="favoritesForm.value.searchById != 3 && favoritesForm.value.searchById != 1">
                <label for="endingCode" class="form-label">{{ 'ENDING_CODE' | translate }}:</label>
                <input type="text" FilledOnValue class="form-control" formControlName="endingCode" id="endingCode"
                  placeholder="{{ 'ENTER_ENDING_CODE' | translate }}" />
              </div>


              <!-- Description -->
              <div class="col-md-2 col-sm-12" *ngIf="favoritesForm.get('searchById')?.value == 3">
                <label for="description" class="form-label">{{ 'DESCRIPTION' | translate }}:</label>
                <input type="text" FilledOnValue class="form-control" id="description" formControlName="description"
                  placeholder="{{ 'ENTER_DESCRIPTION' | translate }}" />
              </div>

        <!-- Search Button -->
          <div class="col-md-2 col-sm-12 text-end">
            <button type="button" class="btn btn-secondary me-1 ms-1" (click)="onClear()">{{'CLEAR' | translate}}</button>
            <button type="button" class="btn btn-primary " (click)="onSearch()">{{'SEARCH' | translate}}</button>
          </div>

      </div>

      <!-- Results Table -->
      <div class="table-responsive mt-3">
        <div class="card mt-3 shadow rounded">
          <div class="card-body">
            <h5>{{'SEARCH_LIST' | translate}}</h5>
            <div class="table-responsive">
        <table class="table table-bordered table-striped table-sm">
          <thead>
            <tr class="text-center">
              <th>{{'CODE' | translate}}</th>
              <th>{{'ICD_VERSION' | translate}}</th>
              <th>{{'DESCRIPTION' | translate}}</th>
            </tr>
          </thead>
          <tbody class="table-group-divider text-center">
            <tr *ngFor="let result of SearchList">
              <td>{{ result.icD9Code }}</td>
              <td>{{ result.icdVersion }}</td>
              <td>{{ result.descriptionFull }}</td>
            </tr>
          </tbody>
            <div *ngIf="SearchList.length === 0">
              <span class="text-center">{{'NO_DATA_FOUND' | translate}}</span>
            </div>
        </table>
        <app-generic-pagination
        [totalItems]="searchTotalItems"
          [pageSize]="PaginationInfo?.RowsPerPage"
          [currentPage]="PaginationInfo?.Page"
          (pageChanged)="onsearchlistPageChanged($event)"
        >
        </app-generic-pagination>
      </div>
      </div>
      </div>

      <div class="divider"></div>

        <!-- Medical History Records Table -->
        <div class="card mt-3 shadow rounded">
          <div class="card-body">
            <div class="table-responsive">
              <table class="table table-bordered table-striped table-sm">
                <thead>
                  <tr class="text-center">
                    <th>{{'PROVIDER' | translate}}</th>
                    <th>{{'PROBLEM' | translate}}</th>
                    <th>{{'COMMENT' | translate}}</th>
                    <th>{{'CONFIDENTIAL' | translate}}</th>
                    <th>{{'STATUS' | translate}}</th>
                    <th>{{'START_DATE' | translate}}</th>
                    <th>{{'END_DATE' | translate}}</th>
                    <th>{{'ACTION' | translate}}</th>
                  </tr>
                </thead>
                <tbody class="table-group-divider text-center">
                  <tr *ngFor="let record of favoritesData">
                    <td>{{ record.providerName }}</td>
                    <td>{{ record.icD9Description }}</td>
                    <td>{{ record.comments }}</td>
                    <td class="text-center">
                      <ng-icon [name]="record.confidential ? 'tablerCheck' : 'tablerX'"></ng-icon>
                    </td>
                    <td>{{ record.status }}</td>
                    <td>{{ record.startDate | date : "dd/MM/yyyy" }}</td>
                    <td>{{ record.endDate | date : "dd/MM/yyyy" }}</td>
                    <td class="text-center">
                      <button type="button" class="btn btn-outline-info p-0 px-1 py-1" (click)="onEdit(record)">
                        <ng-icon name="tablerEdit"></ng-icon>
                      </button>
                    </td>
                  </tr>
                </tbody>
              </table>
              <app-generic-pagination
              [totalItems]="favoritesTotalItems"
                [pageSize]="favPaginationInfo?.RowsPerPage"
                [currentPage]="favPaginationInfo?.Page"
                (pageChanged)="onfavPageChanged($event)"
              >
              </app-generic-pagination>

            </div>
          </div>
        </div>
      </div>

    </div>
  </form>
