
<div class="card patient-header-panel" >
  <div class="card-body py-3 px-4 d-flex justify-content-between align-items-center border-bottom" style="height: 50px;">
    <h5 class="text-danger mb-0" style="font-size: larger;">🩺 Patient Banner</h5>
  </div>


  <ul ngbNav #nav="ngbNav" [(activeId)]="activeTabId" class="nav nav-tabs mb-3">
        <li [ngbNavItem]="1">
          <a ngbNavLink href="javascript:void(0)">Patient Info</a>
          <ng-template ngbNavContent>

              <div class="pb-3 px-4">
              <div class="container">
              <div class="row g-3">
                <div class="col-md-3">
                  <div class="p-2 text-center">
                    <img
                      class="img-thumbnail shadow-sm"
                      [src]="patient?.patientPicture 
                              ? 'data:image/jpeg;base64,' + patient.patientPicture 
                              : 'https://upload.wikimedia.org/wikipedia/commons/8/89/Portrait_Placeholder.png'"
                      alt="Patient Image"
                      style="object-fit: cover; border-radius: 8px; width: 123px; height: 100px;"
                    />
                  </div>
                </div>

                <div class="col-md-4">
                  <div class="p-2">
                    <strong style="font-weight: bold;">ID:</strong>
                    {{ patient?.mrNo || 'N/A' }}
                  </div>

                  <div class="p-2">
                    <strong style="font-weight: bold;">Name: </strong>
                    {{ patient?.personFirstName || 'N/A' }}
                  </div>

                  <div class="p-2">
                    <strong style="font-weight: bold;">Age: </strong>
                    {{ patient?.age || 'N/A' }}
                  </div>

                </div>

                <div class="col-md-4">
                  <div class="p-2">
                    <strong style="font-weight: bold;">Gender: </strong>
                    {{ patient?.gender || 'N/A' }}
                  </div>
                  
                  <div class="p-2">
                    <strong style="font-weight: bold;">Date of Birth: </strong>
                    {{ patient?.patientBirthDate ? (patient.patientBirthDate | date:'MMM-dd-yyyy') : 'N/A' }}
                  </div>

                  <div class="p-2">
                    <strong style="font-weight: bold;">Phone No: </strong>
                    {{ patient?.personCellPhone || 'N/A' }}
                  </div>
                </div>
              </div>
            </div>
                <div class="alert alert-warning mt-3 mb-0 py-2 px-3 small">
                  <strong>🔒 This panel is pinned.</strong> Please unpin to collapse it.
                </div>
              </div>
          </ng-template>
        </li> 

        <!-- <li [ngbNavItem]="2">
          <a ngbNavLink href="javascript:void(0)">Visit Info</a>
          


          <ng-template ngbNavContent>

             <div class="col-lg-3">
            <div class="mb-3">
                <select class="form-select" [(ngModel)]="selectedAppointmentId" name="ProviderId" (change)="AppointmentDetail()">
                  <option *ngFor="let item of dropdownOptions" [value]="item.code">
                    {{ item.name }}
                  </option>
                </select>
              </div>
            </div>



             <div *ngIf="filteredVisitDetail">
      <span class="row p-float-label" style="display: flex; align-items: center;">
      </span>

      <div class="input-group">
    </div>



      <br>
      <label class="fontcolor" 
      style="color:rgb(255 255 255); font-size:15px; padding-left: 5px; font-family: sans-serif;"  
      for="username" > 
      {{filteredVisitDetail?.patientFullName}}
      </label>

      <div class="col-12">
        <label class="fontcolor" for="username"> Payer: </label> <span style="color:rgb(255 255 255); font-size: 13px;"> {{filteredVisitDetail?.payerName}} </span>
       </div>
      <div class="col-12">
        <label  class="fontcolor" for="username"><span>Plan: </span></label> <span style="color:rgb(255 255 255);  font-size: 13px;">{{filteredVisitDetail?.planName}}</span>
      </div>
      <div class="col-12">
        <label  class="fontcolor"  for="username"><span >Member Id: </span></label> <span style="color:rgb(255 255 255); font-size: 13px;" >{{filteredVisitDetail?.memberId}}</span>

      </div>
      <div class="col-12">
        <label  class="fontcolor" for="username"><span >Provider: </span></label> <span style="color:rgb(255 255 255); font-size: 13px;" >{{filteredVisitDetail?.fullName }}</span>

      </div>
      <div class="col-12">
        <label  class="fontcolor" for="username"><span >Date: </span></label> <span style="color:rgb(255 255 255); font-size: 13px;"  >{{filteredVisitDetail?.appDateTime | date:'dd-MM-yyyy' }}</span>

      </div>

      <div class="col-12 ">
        <label  class="fontcolor" for="username"><span>Site: </span></label> <span style="color:rgb(255 255 255); font-size: 13px;">{{filteredVisitDetail?.siteName }}</span>

      </div>

  </div>
          </ng-template>
        </li>          -->
      </ul>


      <div [ngbNavOutlet]="nav"></div>

</div>

