<!-- 🔹 Breadcrumb OUTSIDE card -->
<nav aria-label="breadcrumb">
    <ol class="breadcrumb bg-light bg-opacity-50 p-2 mb-3">
      <li class="breadcrumb-item">
        <a href="javascript:void(0);">
          <ng-icon name="tablerSmartHome"></ng-icon>
          Clinical
        </a>
      </li>
      <li class="d-flex align-items-center text-muted mx-1" aria-current="page">
        <ng-icon name="tablerChevronRight"></ng-icon>
      </li>
      <li class="breadcrumb-item active" aria-current="page">Allergies</li>
    </ol>
  </nav>



<form *ngIf="allergyForm" [formGroup]="allergyForm" class="mt-4">
  <div class="card shadow-lg rounded-3 border-0">

    <div class="card-header d-flex justify-content-between align-items-center">
      <h5 class="mb-0 fw-bold">Add Allergy</h5>
      <i class="bi bi-heart-pulse fs-4"></i>
    </div>

    <!-- <div class="col-12 checkbox-container mb-3">
      <input 
        type="checkbox"
        id="outsideProvider"
        [(ngModel)]="isProviderCheck"
        (change)="onCheckboxChange2()"
        style="height: 20px; width: 20px"
      />
      <label for="outsideProvider" class="ms-2">
        Provider Outside Clinic
      </label>
    </div> -->


    <div class="card-body">
      <div class="row g-2">
        <!-- Provider -->
        <div class="col-md-6 col-lg-3">
          <label class="form-label fw-semibold">Provider</label> 
          <select class="form-select" formControlName="providerId">
            <option [ngValue]="null" disabled>Select Provider</option>
            <option *ngFor="let provider of hrEmployees" [value]="provider.providerId">{{ provider.name }}</option>
          </select>
        </div>

        <!-- <div class="col-md-6 col-lg-3" *ngIf="isProviderCheck">
          <label class="form-label fw-semibold">Provider</label>
          <input type="text" class="form-control" formControlName="providerDescription" placeholder="Enter Provider / Nurse Name" />
        </div> -->

        <!-- Allergy Type -->
        <div class="col-md-6 col-lg-3">
          <label class="form-label fw-semibold">Allergy Type</label>
          <select class="form-select" formControlName="allergyType">
            <option [ngValue]="null" disabled>Select Allergy Type</option>
            <option *ngFor="let type of GetAlergy" [value]="type.alergyTypeId">{{ type.alergyName }}</option>
          </select>
        </div>

        <!-- Allergen -->
        <div class="col-md-6 col-lg-3">
          <label class="form-label fw-semibold">Allergen</label>
          <input type="text" class="form-control" formControlName="allergen" placeholder="Enter Allergen" />
        </div>

        <!-- Severity -->
        <div class="col-md-6 col-lg-3">
          <label class="form-label fw-semibold">Severity</label>
          <select class="form-select" formControlName="severity">
            <option [ngValue]="null" disabled>Select Severity</option>
            <option *ngFor="let sev of GetSeverity" [value]="sev.id">{{ sev.severityName }}</option>
          </select>
        </div>

        <!-- Reaction -->
        <div class="col-md-6 col-lg-3">
          <label class="form-label fw-semibold">Reaction</label>
          <input type="text" class="form-control" formControlName="reaction" placeholder="Enter Reaction" />
        </div>

        <!-- Start Date -->
        <div class="col-md-6 col-lg-3">
          <label class="form-label fw-semibold">Start Date</label>
          <input type="date" class="form-control" formControlName="startDate" />
        </div>

        <!-- End Date -->
        <div class="col-md-6 col-lg-3">
          <label class="form-label fw-semibold">End Date</label>
          <input type="date" class="form-control" formControlName="endDate" />
        </div>

        <!-- Status -->
        <div class="col-md-6 col-lg-3">
          <label class="form-label fw-semibold">Status</label>
          <select class="form-select" formControlName="status">
            <option [ngValue]="null" disabled>Select Status</option>
            <option *ngFor="let status of statusOptions" [value]="status.id">{{ status.name }}</option>
          </select>
        </div>

      </div>
    </div>

    <!-- Buttons -->
    <div class="card-footer d-flex justify-content-end gap-2 bg-light">
      <button type="button" class="btn btn-outline-secondary" (click)="resetForm()">
        <i class="bi bi-arrow-counterclockwise"></i> Clear
      </button>

      <button type="button" class="btn btn-success" [disabled]="isSubmitting" (click)="submit()">
        <span *ngIf="isSubmitting" class="spinner-border spinner-border-sm" role="status" aria-hidden="true"></span>
        {{ isSubmitting ? 'Submitting...' : 'Submit' }}
      </button>

    </div>
  </div>

  <div class="card mt-3">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table align-middle mb-0">

          <thead class="align-middle thead-sm">
            <tr>
              <th class="text-center">Provider Name</th>
              <th class="text-center">Allergy Type</th>
              <th class="text-center">Allergen</th>
              <th class="text-center">Severity</th>
              <th class="text-center">Reaction</th>
              <th class="text-center">Start Date</th>
              <th class="text-center">End Date</th>
              <th class="text-center">Status</th>
              <th class="text-center">Action</th>
            </tr>
          </thead>
          <tbody class="table-group-divider">
            <tr *ngFor="let allergy of pagedallergie let i = index">
              <td class="text-center">{{ allergy.providerId }}</td>
              <td class="text-center">{{ allergy.alergyName }}</td>
              <td class="text-center">{{ allergy.allergen }}</td>
              <td class="text-center">{{ allergy.severityName }}</td>
              <td class="text-center">{{ allergy.reaction }}</td>
              <td class="text-center">{{ allergy.startDate | date:'yyyy-MM-dd' }}</td>
              <td class="text-center">{{ allergy.endDate | date:'yyyy-MM-dd' }}</td>
              <td class="text-center">{{ allergy.status }}</td>
              <td class="text-center" style="text-align: center;">

                <div ngbDropdownMenu class="dropdown-menu-end d-flex gap-2 px-2 py-1">
                  <ng-icon name="tablerEdit" class="me-1" (click)="editAllergy(allergy)">
                  </ng-icon>
                  <ng-icon name="tablerTrash" class="text-danger me-1" (click)="
                                           deleteAllergy(allergy.allergyId) ">
                  </ng-icon>
                </div>
              </td>
            </tr>
          </tbody>
        </table>
      </div>

      <app-generic-pagination [totalItems]="allergieTotalItems" [pageSize]="allergiePageSize"
        [currentPage]="allergieCurrentPage" (pageChanged)="onallergiePageChanged($event)">
      </app-generic-pagination>
    </div>
  </div>
</form>
