<div class="mx-1 mt-1">
  <div class="row">

    <div class="col-10">
      <div class="row">

        <div class="col-2 bg-dark rounded p-1 mb-2 mb-sm-0 fixed-height">
          <div>
            <app-side-menu></app-side-menu>
          </div>
        </div>

        <div class="col-10 fixed-height">
          <div>
            <app-content-section></app-content-section>
          </div>
        </div>
      </div>
    </div>

    <div class="col-2 bg-dark text-white rounded fixed-height">
      <div>
        <app-notes></app-notes>
      </div>
    </div>
  </div>
</div>
