<header class="app-topbar">
  <div class="topbar-menu">
    <div class="d-flex align-items-center gap-2">
      <!-- Logo -->
      <div class="logo-topbar">
        <a routerLink="/" class="logo-light">
          <span class="logo-lg">
            <img src="assets/images/logos/fuse2.png" alt="logo" />
          </span>
          <span class="logo-sm">
            <img src="assets/images/logos/fuse2.png" alt="small logo" />
          </span>
        </a>
         <a routerLink="/" class="logo-dark">
          <span class="logo-lg">
            <img src="assets/images/logos/fuse3.png" alt="logo" />
          </span>
          <span class="logo-sm">
            <img src="assets/images/logos/fuse3.png" alt="small logo" />
          </span>
        </a>
      </div>

      <!-- Sidebar toggle -->
      <button
        (click)="toggleSidebar()"
        class="sidenav-toggle-button btn btn-primary btn-icon"
      >
        <ng-icon name="tablerMenu4" class="fs-22" />
      </button>

      <!-- Search -->
      <div class="app-search d-none d-xl-flex">
        <input
          type="search4"
          class="form-control topbar-search"
          name="search"
          placeholder="Search Patient..."
        />
        <lucide-icon [img]="Search" class="app-search-icon text-muted" />
      </div>

      <!-- Mega Menu -->
      <app-mega-menu />
    </div>

    <!-- Modal Template -->
    <ng-template #patientSearchModal let-modal>
    <app-patient-search-modal (patientsFound)="handleSearchResults($event)"></app-patient-search-modal>
    </ng-template>

    <div class="d-flex align-items-center gap-2">
      <!-- Button to trigger modal or banner -->
      <button
        (click)="togglePatientBanner(patientSearchModal)"
        class="btn p-0 border-0 bg-transparent shadow-none"
        title="Toggle Patient Banner"
      >
        <lucide-icon name="stethoscope" class="fs-22 text-body"></lucide-icon>
      </button>

      <app-notification-dropdown />
      <app-theme-toggler />
      <app-user-profile-topbar />
    </div>
  </div>
</header>
