<header class="app-topbar">

  <div class="">

    <div class="py-1 border-bottom">
      <div class="topbar-menu d-flex justify-content-between align-items-center">
        <div class="d-flex align-items-center gap-2">

          <div class="logo-topbar">
            <a routerLink="/" class="logo-light">
              <span class="logo-lg">
                <img src="assets/images/logos/fuse2.png" alt="logo" />
              </span>
              <span class="logo-sm">
                <img src="assets/images/branding/coherent-dark.png" alt="small logo" />
              </span>
            </a>
            <a routerLink="/" class="logo-dark">
              <span class="logo-lg">
                <img src="assets/images/logos/coh_dark.png" alt="logo" />
              </span>
              <span class="logo-sm">
                <img src="assets/images/branding/coherent-light.png" alt="small logo" />
              </span>
            </a>
          </div>

          <button (click)="toggleSidebar()" class="sidenav-toggle-button btn btn-primary btn-icon">
            <ng-icon name="tablerMenu4" class="fs-22" />
          </button>

          <div class="input-group">
            <button class="btn btn-light px-2" data-bs-toggle="modal" data-bs-target="#advance-filter-modal"
              type="button">
              <lucide-icon [img]="SliderIcon" class="lucide-lg"></lucide-icon>
            </button>

            <input type="search4" class="form-control border-0 px-2" name="search" placeholder="Search Patient By Mr No"
              style="box-shadow: none;" [(ngModel)]="mrNo" />

            <button class="btn btn-light px-2" type="button" (click)="onSearchClick()">
              <lucide-icon [img]="SearchIcon" class="lucide-lg"></lucide-icon>
            </button>
          </div>

          <lucide-icon *ngIf="mrNo" [img]="XIcon" class="lucide-lg cursor-pointer" (click)="onClearInput()">

          </lucide-icon>


          <app-mega-menu />
        </div>

        <div class="d-flex align-items-center gap-2 ">
          <span class="custom-border-right">Women's Health Center</span>
          <app-notification-dropdown />
          <app-theme-toggler />
          <app-user-profile-topbar />
        </div>
      </div>
    </div>

    <div *ngIf="showPatientBanner">
      <app-patient-header-panel />
    </div>

    <div>
      <app-navbar />
    </div>

  </div>
</header>

<app-advance-search-modal (onPatientSelect)="searchPatient($event.mrno, $event.context)"/>