.genetics-form {
  h6 {
    color: #333;
    font-weight: 600;
  }
}


  .form-group {
    label {
      font-weight: 500;
      color: #495057;
      margin-bottom: 5px;
      font-size: 12px;
    }

    .form-control, .form-select {
      font-size: 12px;
    }
  }