<div id="advance-filter-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="standard-modalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl-custom">
        <div class="modal-content">
            <div class="modal-header">
                <div>
                    <h4 class="modal-title" id="standard-modalLabel">Advanced Filter</h4>
                    <small>Search Patients By Advanced Filter</small>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body p-2">

                <div class="card p-2 mb-2">
                    <form [formGroup]="patientForm" (ngSubmit)="onSubmit()">
                        <div formGroupName="demographicList">
                            <div class="row gy-1">
                                <div class="col-md-2 mb-1">
                                    <label class="form-label small mb-1">MR No. / Temp ID</label>
                                    <input type="text" class="form-control form-control-sm" formControlName="mrno"
                                        placeholder="Enter MR No" />
                                </div>
                                <div class="col-md-2 mb-1">
                                    <label class="form-label small mb-1">Name</label>
                                    <input type="text" class="form-control form-control-sm" formControlName="name"
                                        placeholder="Enter Name" />
                                </div>
                                <div class="col-md-2 mb-1">
                                    <label class="form-label small mb-1">Gender</label>
                                    <select class="form-select form-select-sm" formControlName="genderId">
                                        <option [ngValue]="0">All</option>
                                        <option [ngValue]="1">Male</option>
                                        <option [ngValue]="2">Female</option>
                                    </select>
                                </div>
                                <div class="col-md-2 mb-1">
                                    <label class="form-label small mb-1">Phone</label>
                                    <input type="text" class="form-control form-control-sm" formControlName="phone"
                                        placeholder="Enter Phone No" />
                                </div>
                                <div class="col-md-2 mb-1">
                                    <label class="form-label small mb-1">Date of Birth</label>
                                    <input type="date" class="form-control form-control-sm" />
                                </div>
                                <div class="col-md-2 mb-1">
                                    <label class="form-label small mb-1">Country</label>
                                    <select class="form-select form-select-sm">
                                        <option value="">All Countries</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row gy-1 mt-1">

                                <div class="col-md-2 mb-1">
                                    <label class="form-label small mb-1">State / Emirate</label>
                                    <select class="form-select form-select-sm">
                                        <option value="">All States</option>
                                    </select>
                                </div>
                                <div class="col-md-2 mb-1">
                                    <label class="form-label small mb-1">City</label>
                                    <select class="form-select form-select-sm">
                                        <option value="">All Cities</option>
                                    </select>
                                </div>
                                <div class="col-md-2 mb-1">
                                    <label class="form-label small mb-1">Zipcode</label>
                                    <input type="text" class="form-control form-control-sm" />
                                </div>
                                <div class="col-md-2 mb-1">
                                    <label class="form-label small mb-1">National ID</label>
                                    <input type="text" class="form-control form-control-sm" />
                                </div>
                                <div class="col-md-2 mb-1">
                                    <label class="form-label small mb-1">Insurance Carrier</label>
                                    <select class="form-select form-select-sm">
                                        <option value="">All</option>
                                    </select>
                                </div>
                                <div class="col-md-2 mb-1">
                                    <label class="form-label small mb-1">Member ID / Insured ID</label>
                                    <input type="text" class="form-control form-control-sm" />
                                </div>
                            </div>

                            <div class="row gy-1 mt-1">
                                <div class="col-md-2 mb-1">
                                    <label class="form-label small mb-1">Reference Channel</label>
                                    <select class="form-select form-select-sm">
                                        <option value="">-- All --</option>
                                    </select>
                                </div>
                                <div class="col-md-2 mb-1">
                                    <label class="form-label small mb-1">VIP Patient</label>
                                    <select class="form-select form-select-sm">
                                        <option value="">-- All --</option>
                                        <option value="true">Yes</option>
                                        <option value="false">No</option>
                                    </select>
                                </div>
                                <div class="col-md-2 mb-1">
                                    <label class="form-label small mb-1">Channel Items</label>
                                    <select class="form-select form-select-sm">
                                        <option value="">-- All --</option>
                                    </select>
                                </div>
                                <div class="col-md-2 mb-1">
                                    <label class="form-label small mb-1">Patient Type</label>
                                    <select class="form-select form-select-sm">
                                        <option value="">-- All --</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="d-flex gap-1 mt-2 justify-content-end">
                            <button type="button" class="btn btn-outline-danger btn-sm" (click)="resetFilter()">
                                <lucide-icon name="RefreshCcw" class="me-1"></lucide-icon>
                                Reset
                            </button>

                            <button class="btn btn-outline-primary btn-sm" type="submit" [disabled]="isLoading">
                                <app-loader *ngIf="isLoading" [size]="'16px'" class="me-1"></app-loader>
                                <lucide-icon *ngIf="!isLoading" name="Search" class="me-1"></lucide-icon>
                                <span>{{ isLoading ? 'Searching' : 'Search' }}</span>
                            </button>
                        </div>
                    </form>
                </div>

                <app-ui-card *ngIf="searchResults.length > 0" title="Search Results" [isTogglable]="true"
                    bodyClass="p-0">
                    <div card-body>
                        <table class="table table-sm table-hover table-bordered align-middle mb-0 fs-sm"
                            id="patient-select">
                            <thead class="thead-light text-uppercase small">
                                <tr>
                                    <th class="py-1 px-2">MR No</th>
                                    <th class="py-1 px-2">Name</th>
                                    <th class="py-1 px-2">Gender</th>
                                    <th class="py-1 px-2">Age</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let patient of searchResults" (click)="onRowSelect(patient.mrNo)"
                                    class="cursor-pointer small py-1 px-2" [ngClass]="{'bg-primary-subtle text-dark': selectedMrNo === patient.mrNo}">
                                    <td class="py-1 px-2">{{ patient.mrNo }}</td>
                                    <td class="py-1 px-2">{{ patient.personFirstName }}</td>
                                    <td class="py-1 px-2">{{ patient.gender }}</td>
                                    <td class="py-1 px-2">{{ patient.age }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </app-ui-card>
            </div>
        </div>
    </div>
</div>