<div id="advance-filter-modal" class="modal fade" tabindex="-1" role="dialog" aria-labelledby="standard-modalLabel"
    aria-hidden="true">
    <div class="modal-dialog modal-xl-custom">
        <div class="modal-content">
            <div class="modal-header">
                <div [class.text-start]="!isRtl" [class.text-end]="isRtl">
                    <h4 class="modal-title" id="standard-modalLabel">{{ 'ADVANCED_FILTER' | translate }}</h4>
                    <small>{{ 'SEARCH_PATIENTS_BY_ADVANCED_FILTER' | translate }}</small>
                </div>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"
                    [class.order-first]="isRtl" [class.ms-auto]="!isRtl"></button>
                <button #hiddenCloseBtn type="button" class="d-none" data-bs-dismiss="modal"></button>
            </div>
            <div class="modal-body p-2">

                <div class="card p-2 mb-2">
                    <form [formGroup]="patientForm" (ngSubmit)="onSubmit()">
                        <div formGroupName="demographicList">
                            <div class="row gy-1">
                                <div class="col-md-2 mb-1">
                                    <label class="form-label small mb-1">{{ 'MR_NO' | translate }}</label>
                                    <input type="text" class="form-control form-control-sm" formControlName="mrno"
                                        placeholder="{{ 'ENTER_MR_NO' | translate }}" />
                                </div>
                                <div class="col-md-2 mb-1">
                                    <label class="form-label small mb-1">{{ 'NAME' | translate }}</label>
                                    <input type="text" class="form-control form-control-sm" formControlName="name"
                                        placeholder="{{ 'ENTER_NAME' | translate }}" />
                                </div>
                                <div class="col-md-2 mb-1">
                                    <label class="form-label small mb-1">{{ 'GENDER' | translate }}</label>
                                    <select class="form-select form-select-sm" formControlName="genderId">
                                        <option [ngValue]="0">{{ 'ALL' | translate }}</option>
                                        <option [ngValue]="1">{{ 'MALE'}}</option>
                                        <option [ngValue]="2">{{ 'FEMALE' }}</option>
                                    </select>
                                </div>
                                <div class="col-md-2 mb-1">
                                    <label class="form-label small mb-1">{{ 'PHONE' | translate }}</label>
                                    <input type="text" class="form-control form-control-sm" formControlName="phone"
                                        placeholder="{{ 'ENTER_CELL_PHONE' | translate }}" />
                                </div>
                                <div class="col-md-2 mb-1">
                                    <label class="form-label small mb-1">{{ 'DOB' | translate }}</label>
                                    <input type="date" class="form-control form-control-sm" />
                                </div>
                                <div class="col-md-2 mb-1">
                                    <label class="form-label small mb-1">{{ 'COUNTRY' | translate }}</label>
                                    <select class="form-select form-select-sm">
                                        <option value="">{{ 'SELECT_COUNTRY' | translate }}</option>
                                    </select>
                                </div>
                            </div>

                            <div class="row gy-1 mt-1">

                                <div class="col-md-2 mb-1">
                                    <label class="form-label small mb-1">{{ 'STATE' | translate }}</label>
                                    <select class="form-select form-select-sm">
                                        <option value="">{{ 'SELECT_STATE' | translate }}</option>
                                    </select>
                                </div>
                                <div class="col-md-2 mb-1">
                                    <label class="form-label small mb-1">{{ 'CITY' | translate }}</label>
                                    <select class="form-select form-select-sm">
                                        <option value="">{{ 'SELECT_CITY' | translate }}</option>
                                    </select>
                                </div>
                                <div class="col-md-2 mb-1">
                                    <label class="form-label small mb-1">{{ 'ZIP_CODE' | translate }}</label>
                                    <input type="text" class="form-control form-control-sm" placeholder="{{'ENTER_ZIP_CODE'|translate}}" />
                                </div>
                                <div class="col-md-2 mb-1">
                                    <label class="form-label small mb-1">{{ 'NATIONAL_ID' | translate }}</label>
                                    <input type="text" class="form-control form-control-sm" placeholder="{{'ENTER_NATIONAL_ID'| translate}}" />
                                </div>
                                <div class="col-md-2 mb-1">
                                    <label class="form-label small mb-1">{{ 'INSURANCE_CARRIER' | translate }}</label>
                                    <select class="form-select form-select-sm">
                                        <option value="">{{ 'ALL' | translate }}</option>
                                    </select>
                                </div>
                                <div class="col-md-2 mb-1">
                                    <label class="form-label small mb-1">{{ 'MEMBER_ID_INSURED_ID' | translate }}</label>
                                    <input type="text" class="form-control form-control-sm" placeholder="{{'Enter_MEMBER_ID_INSURED_ID' | translate}}" />
                                </div>
                            </div>

                            <div class="row gy-1 mt-1">
                                <div class="col-md-2 mb-1">
                                    <label class="form-label small mb-1">{{ 'REFERENCE_CHANNEL' | translate }}</label>
                                    <select class="form-select form-select-sm">
                                        <option value="">{{ 'ALL' | translate }}</option>
                                    </select>
                                </div>
                                <div class="col-md-2 mb-1">
                                    <label class="form-label small mb-1">{{ 'VIP_PATIENT' | translate }}</label>
                                    <select class="form-select form-select-sm">
                                        <option value="">{{ 'ALL' | translate }}</option>
                                        <option value="true">{{ 'YES'  }}</option>
                                        <option value="false">{{ 'NO'  }}</option>
                                    </select>
                                </div>
                                <div class="col-md-2 mb-1">
                                    <label class="form-label small mb-1">{{ 'CHANNEL_ITEMS' | translate }}</label>
                                    <select class="form-select form-select-sm">
                                        <option value="">{{ 'ALL' | translate }}</option>
                                    </select>
                                </div>
                                <div class="col-md-2 mb-1">
                                    <label class="form-label small mb-1">{{ 'PATIENT_TYPE' | translate }}</label>
                                    <select class="form-select form-select-sm">
                                        <option value="">{{ 'ALL' | translate }}</option>
                                    </select>
                                </div>
                            </div>
                        </div>

                        <div class="d-flex gap-1 mt-2 justify-content-end">
                            <button type="button" class="btn btn-outline-danger btn-sm" (click)="resetFilter()">
                                <lucide-icon name="RefreshCcw" class="me-1"></lucide-icon>
                                {{ 'RESET' | translate }}
                            </button>

                            <button class="btn btn-outline-primary btn-sm" type="submit" [disabled]="isLoading">
                                 <span *ngIf="isLoading" class="spinner-border spinner-border-sm me-2" role="status"
                                    aria-hidden="true"></span>
                                <span>{{ isLoading ? ('SEARCHING' | translate) : ('SEARCH' | translate) }}</span>
                            </button>
                        </div>
                    </form>
                </div>

                <app-ui-card *ngIf="searchResults.length > 0" title="{{ 'SEARCH_RESULTS' | translate }}" [isTogglable]="true"
                    bodyClass="p-0">
                    <div card-body>
                        <table class="table table-sm table-hover table-bordered align-middle mb-0 fs-sm"
                            id="patient-select">
                            <thead class="thead-light text-uppercase small">
                                <tr>
                                    <th class="py-1 px-2">{{ 'MR_NO' | translate }}</th>
                                    <th class="py-1 px-2">{{ 'NAME' | translate }}</th>
                                    <th class="py-1 px-2">{{ 'GENDER' | translate }}</th>
                                    <th class="py-1 px-2">{{ 'AGE' | translate }}</th>
                                </tr>
                            </thead>
                            <tbody>
                                <tr *ngFor="let patient of searchResults" (click)="onRowSelect(patient.mrNo)"
                                    class="cursor-pointer small py-1 px-2"
                                    [ngClass]="{'bg-primary-subtle text-dark': selectedMrNo === patient.mrNo}">
                                    <td class="py-1 px-2">{{ patient.mrNo }}</td>
                                    <td class="py-1 px-2">{{ patient.personFirstName }}</td>
                                    <td class="py-1 px-2">{{ patient.gender }}</td>
                                    <td class="py-1 px-2">{{ patient.age }}</td>
                                </tr>
                            </tbody>
                        </table>
                    </div>
                </app-ui-card>
            </div>
        </div>
    </div>
</div>

<!-- this is a hidden trigger button to trigger the bs modal -->
<button #hiddenTrigger type="button" class="d-none" data-bs-toggle="modal" data-bs-target="#advance-filter-modal">
</button>