<nav aria-label="breadcrumb">
  <ol class="breadcrumb bg-light bg-opacity-50 p-2">
    <li class="breadcrumb-item">
      <a href="javascript:void(0);">
        <ng-icon name="tablerSmartHome"></ng-icon>
        {{ 'SCHEDULING' | translate }}
      </a>
    </li>
    <li class="d-flex align-items-center text-muted mx-1" aria-current="page">
      <ng-icon [name]="isRtl ? 'tablerChevronLeft' : 'tablerChevronRight'"></ng-icon>
    </li>
    <li class="breadcrumb-item active" aria-current="page">
      {{ 'APPOINTMENT_HISTORY' | translate }}
    </li>
  </ol>
</nav>

<div class="card">
  <div class="accordion" id="AppointmentHistoryAccordion">
    <div>
      <div class="accordion-item">
        <h2 class="accordion-header">
          <div class="d-flex w-100 align-items-center">
            <button class="accordion-button collapsed d-flex no-accordion-caret flex-grow-1" type="button" data-bs-toggle="collapse" data-bs-target="#collapseAppointmentHistory" aria-expanded="false" aria-controls="collapseAppointmentHistory">
              {{ 'APPOINTMENT_HISTORY' | translate }}
            </button>
          </div>
        </h2>
        <div id="collapseAppointmentHistory" class="accordion-collapse collapse" data-bs-parent="#AppointmentHistoryAccordion">
          <div class="accordion-body">
            <div class="card shadow-sm rounded-3">
              <!-- <form *ngIf="FilterForm" [formGroup]="FilterForm">
                <div class="card-body">
                  <div class="row">
                    <div class="col-md-3 mb-2">
                      <label>{{ 'FROM_DATE' | translate }}</label>
                      <input type="date" appFilledOnValue class="form-control" formControlName="fromDate" />
                    </div>
                    <div class="col-md-3 mb-2">
                      <label>{{ 'TO_DATE' | translate }}</label>
                      <input type="date" appFilledOnValue class="form-control" formControlName="toDate" />
                    </div>
                    <div class="col-md-3 mb-2">
                      <label>{{ 'PROVIDER' | translate }}</label>
                      <select appFilledOnValue class="form-control form-select" formControlName="providerId">
                        <option value="" disabled selected>-- {{ 'SELECT_PROVIDER' | translate }} --</option>
                        <option *ngFor="let item of providers" [value]="item.code">{{ item.name }}</option>
                      </select>
                    </div>
                    <div class="col-md-3 mb-2">
                      <label>{{ 'FACILITY' | translate }}</label>
                      <select appFilledOnValue class="form-control form-select" formControlName="facilityId">
                        <option value="" disabled selected>-- {{ 'SELECT_FACILITY' | translate }} --</option>
                        <option *ngFor="let f of facilities" [value]="f.code">{{ f.name }}</option>
                      </select>
                    </div>
                    <div class="col-md-3 mb-2">
                      <label>{{ 'SITE' | translate }}</label>
                      <select appFilledOnValue class="form-control form-select" formControlName="sitesId">
                        <option value="" disabled selected>-- {{ 'SELECT_SITE' | translate }} --</option>
                        <option *ngFor="let item of sites" [value]="item.code">{{ item.name }}</option>
                      </select>
                    </div>
                    <div class="col-md-3 mb-2">
                      <label>{{ 'SPECIALITY' | translate }}</label>
                      <select appFilledOnValue class="form-control form-select" formControlName="specialityId">
                        <option value="" disabled selected>-- {{ 'SELECT_SPECIALITY' | translate }} --</option>
                        <option *ngFor="let item of speciality" [value]="item.code">{{ item.name }}</option>
                      </select>
                    </div>
                    <div class="col-md-3 mb-2">
                      <label>{{ 'CRITERIA' | translate }}</label>
                      <select appFilledOnValue class="form-control form-select" formControlName="criteriaId">
                        <option value="" disabled selected>-- {{ 'SELECT_CRITERIA' | translate }} --</option>
                        <option *ngFor="let item of appointmentcriteria" [value]="item.code">{{ item.name }}</option>
                      </select>
                    </div>
                    <div class="col-md-3 mb-2">
                      <label>{{ 'VISIT_TYPE' | translate }}</label>
                      <div class="row g-4 align-items-end">
                        <div class="input-group">
                          <select appFilledOnValue class="form-select" formControlName="visitTypeId" id="visitTypeId">
                            <option value="" disabled selected>-- {{ 'SELECT_VISIT_TYPE' | translate }} --</option>
                            <option *ngFor="let item of visitType" [value]="item.code">{{ item.name }}</option>
                          </select>
                        </div>
                      </div>
                    </div>
                    <div class="col-md-3 mb-2">
                      <label>{{ 'LOCATION' | translate }}</label>
                      <select appFilledOnValue class="form-control form-select" formControlName="locationId">
                        <option value="" disabled selected>-- {{ 'SELECT_LOCATION' | translate }} --</option>
                        <option *ngFor="let l of locations" [value]="l.code">{{ l.name }}</option>
                      </select>
                    </div>
                    <div class="col-md-3 mb-2">
                      <label>{{ 'APPOINTMENT_TYPE' | translate }}</label>
                      <select appFilledOnValue class="form-control form-select" formControlName="appointmentId">
                        <option value="" disabled selected>-- {{ 'SELECT_APPOINTMENT_TYPE' | translate }} --</option>
                        <option *ngFor="let item of appointmentType" [value]="item.code">{{ item.name }}</option>
                      </select>
                    </div>
                    <div class="col-md-3 px-2" style="margin-top: 20px; text-align: right;">
                      <button type="button" class="btn btn-light me-2" (click)="ClearFilter()">{{ 'CLEAR' | translate }}</button>
                      <button type="submit" (click)="FilterHistory()" class="btn btn-primary">{{ 'SEARCH' | translate }}</button>
                    </div>
                  </div>
                </div>
              </form> -->
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>

  <div class="card-body">
    <table class="table table-bordered text-center table-striped table-sm">
      <thead>
        <tr>
          <th>{{ 'APPOINTMENT_ID' | translate }}</th>
          <th>{{ 'PATIENT_NAME' | translate }}</th>
          <th>{{ 'PATIENT_STATUS' | translate }}</th>
          <th>{{ 'PROVIDER' | translate }}</th>
          <th>{{ 'PURPOSE_OF_VISIT' | translate }}</th>
          <th>{{ 'APPOINTMENT_DATE' | translate }}</th>
          <th>{{ 'APPOINTMENT_STATUS' | translate }}</th>
        </tr>
      </thead>
      <tbody class="table-group-divider text-center">
        <tr *ngFor="let appointment of appointments">
          <td>{{ appointment.appId }}</td>
          <td>{{ appointment.viewPatientName }}</td>
          <td>{{ appointment.patientStatus }}</td>
          <td>{{ getProviderName(appointment.providerId) }}</td>
          <td>{{ appointment.purposeOfVisit }}</td>
          <td>{{ appointment.appDateTime | date : "dd/MM/yyyy h:mm a" }}</td>
          <td><strong>{{ appointment.appStatus }}</strong></td>
        </tr>
        <tr *ngIf="appointments.length === 0">
          <td colspan="8">{{ 'NO_DATA_FOUND' | translate }}</td>
        </tr>
      </tbody>
    </table>
  </div>
</div>

<app-generic-pagination
  [totalItems]="totalRecord"
  [pageSize]="PaginationInfo.RowsPerPage"
  [currentPage]="PaginationInfo.Page"
  (pageChanged)="onHistoryPageChanged($event)"
>
</app-generic-pagination>
